<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>granularErrorCenter</key>
	<string>granularEqualizationFlags</string>
	<key>kernelFrameworkValidation</key>
	<string>errorStyleRate</string>
	<key>layerThroughPlatform</key>
	<string>clipperBridgeSaturation</string>
	<key>lostCubitPadding</key>
	<string>bitrateObserverSkewx</string>
	<key>memberDecoratorFlags</key>
	<string>delicateMarginBrightness</string>
	<key>playbackNearPlatform</key>
	<string>mapTaskHue</string>
	<key>streamAlongComposite</key>
	<string>staticButtonTheme</string>
</dict>
</plist>
