<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>keyInstructionStyle</key>
	<string>mobileChapterCoord</string>
	<key>lazyPresenterState</key>
	<string>visibleStackName</string>
	<key>multiplicationTierAppearance</key>
	<string>interfaceIncludeBridge</string>
	<key>positionedBufferHue</key>
	<string>batchAroundVar</string>
	<key>seamlessGridviewSpeed</key>
	<string>featureBufferAcceleration</string>
	<key>spotEnvironmentShape</key>
	<string>sharedExpandedBehavior</string>
</dict>
</plist>
