<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basePrototypeState</key>
	<string>directMetadataFeedback</string>
	<key>flexibleInteractorShape</key>
	<string>crudeEffectBorder</string>
	<key>reactiveViewFormat</key>
	<string>parallelGemOrigin</string>
	<key>relationalKernelTag</key>
	<string>mediumGridMargin</string>
	<key>resilientLogType</key>
	<string>denseConfigurationHue</string>
	<key>rowValueContrast</key>
	<string>optionKindBottom</string>
	<key>synchronousInjectionColor</key>
	<string>heapVersusForm</string>
	<key>usecaseCommandDensity</key>
	<string>rowSinceWork</string>
	<key>zoneParamShape</key>
	<string>intermediateSampleColor</string>
</dict>
</plist>
