<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticRadiusTop</key>
	<string>listenerAboutInterpreter</string>
	<key>priorNotifierEdge</key>
	<string>characterDecoratorShape</string>
	<key>projectVisitorBottom</key>
	<string>unaryStylePressure</string>
	<key>resourceDespiteVisitor</key>
	<string>lazyContainerDuration</string>
	<key>statelessGraphicTension</key>
	<string>interfaceViaMode</string>
	<key>temporaryFutureDepth</key>
	<string>touchEnvironmentAcceleration</string>
</dict>
</plist>
