<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>disparateMasterContrast</key>
	<string>largeParticleForce</string>
	<key>positionWithLevel</key>
	<string>asyncAsNumber</string>
	<key>resultPlatformBorder</key>
	<string>queryExceptJob</string>
	<key>swiftProcessSaturation</key>
	<string>shaderProcessSpeed</string>
	<key>usecaseProxyInterval</key>
	<string>hardBoxMomentum</string>
</dict>
</plist>
