<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>labelChainHead</key>
	<string>gateModeType</string>
	<key>navigatorWithMemento</key>
	<string>geometricOptionContrast</string>
	<key>prismaticControllerState</key>
	<string>flexStructureFrequency</string>
	<key>sessionThanValue</key>
	<string>usecaseContainMethod</string>
	<key>sineBesideTask</key>
	<string>sophisticatedGridTail</string>
	<key>sustainableLoopEdge</key>
	<string>animatedPresenterVisible</string>
	<key>unsortedLocalizationStyle</key>
	<string>paddingStageIndex</string>
	<key>widgetUntilParam</key>
	<string>frameLikeChain</string>
</dict>
</plist>
