<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>popupContextRotation</key>
	<string>typicalBitrateBound</string>
	<key>profileAgainstActivity</key>
	<string>modalAmongFacade</string>
	<key>ternaryInsideFacade</key>
	<string>offsetActivityOrigin</string>
	<key>toolAlongNumber</key>
	<string>containerNearLevel</string>
</dict>
</plist>
