<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertPerScope</key>
	<string>interactorChainType</string>
	<key>commonNotificationSkewy</key>
	<string>hyperbolicCommandAppearance</string>
	<key>controllerSinceBridge</key>
	<string>smartContainerEdge</string>
</dict>
</plist>
