<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>controllerBridgeFormat</key>
	<string>subsequentProviderSpacing</string>
	<key>handlerPerStrategy</key>
	<string>grayscaleAmongAction</string>
	<key>movementInJob</key>
	<string>easyStoreContrast</string>
	<key>scrollObserverFeedback</key>
	<string>utilThroughValue</string>
</dict>
</plist>
