<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>independentTextFormat</key>
	<string>awaitDespiteCommand</string>
	<key>liteLossFeedback</key>
	<string>animatedBuilderRight</string>
	<key>nibBeyondObserver</key>
	<string>easyPointKind</string>
</dict>
</plist>
