<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>firstHandlerIndex</key>
	<string>arithmeticStackDistance</string>
	<key>labelFlyweightOpacity</key>
	<string>cubitOrProcess</string>
	<key>painterContainProxy</key>
	<string>transitionVarShade</string>
	<key>storyboardSingletonHue</key>
	<string>heroOperationResponse</string>
</dict>
</plist>
