<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxUntilFunction</key>
	<string>checklistPrototypeCoord</string>
	<key>certificateChainValidation</key>
	<string>specifySubpixelMomentum</string>
	<key>descriptionContextFlags</key>
	<string>similarCompositionOffset</string>
	<key>popupOperationCenter</key>
	<string>constraintAlongFunction</string>
	<key>stampCompositeFlags</key>
	<string>comprehensiveAlphaAlignment</string>
</dict>
</plist>
