<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticGrainOrientation</key>
	<string>captionVarOrigin</string>
	<key>aspectratioPlatformCoord</key>
	<string>tickerParameterContrast</string>
	<key>constApertureRotation</key>
	<string>tableVariableLeft</string>
	<key>containerAsType</key>
	<string>characterStrategyState</string>
	<key>eagerCardDensity</key>
	<string>builderFormSpeed</string>
</dict>
</plist>
