<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commonTextSize</key>
	<string>singletonAndNumber</string>
	<key>frameStateKind</key>
	<string>characterCommandHue</string>
	<key>prevRowForce</key>
	<string>containerStateVisible</string>
	<key>semanticPositionedTheme</key>
	<string>mobilePhaseStyle</string>
	<key>subscriptionByMemento</key>
	<string>futureFunctionStatus</string>
	<key>sustainableScaffoldShade</key>
	<string>sampleCommandFormat</string>
</dict>
</plist>
