<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>extensionStrategyFeedback</key>
	<string>unsortedUtilColor</string>
	<key>futureTaskMode</key>
	<string>baseTaskAcceleration</string>
	<key>injectionThroughInterpreter</key>
	<string>tableBesideStyle</string>
	<key>mediaStateForce</key>
	<string>spineVarTransparency</string>
	<key>resolverCompositeInteraction</key>
	<string>chartOrTask</string>
	<key>symmetricRadioMomentum</key>
	<string>managerForShape</string>
	<key>themeLayerForce</key>
	<string>richtextAtStructure</string>
	<key>tweenStructureIndex</key>
	<string>agileRectStyle</string>
</dict>
</plist>
