<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contractionThanLevel</key>
	<string>signProcessCenter</string>
	<key>cursorAlongFramework</key>
	<string>prevMasterCount</string>
	<key>difficultMobxValidation</key>
	<string>priorityActivityDistance</string>
	<key>particleLayerOpacity</key>
	<string>shaderVersusVisitor</string>
	<key>sineShapeBehavior</key>
	<string>transitionAmongType</string>
	<key>transformerSinceAction</key>
	<string>aspectContextContrast</string>
	<key>variantPhaseTail</key>
	<string>titleAmongFunction</string>
</dict>
</plist>
