<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonByStage</key>
	<string>skirtModeAppearance</string>
	<key>cartesianRectEdge</key>
	<string>constraintStyleDepth</string>
	<key>delegateDespiteShape</key>
	<string>crucialSampleCount</string>
	<key>difficultColumnSkewy</key>
	<string>zoneMementoHue</string>
	<key>resourceMementoOrientation</key>
	<string>progressbarExceptBridge</string>
	<key>retainedTickerRate</key>
	<string>errorMementoVisibility</string>
</dict>
</plist>
