<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentSinceDecorator</key>
	<string>statelessNearFlyweight</string>
	<key>ignoredSwitchInterval</key>
	<string>constraintBesidePrototype</string>
	<key>imageScopeDensity</key>
	<string>reductionIncludeTask</string>
	<key>keyHandlerContrast</key>
	<string>hyperbolicMomentumAcceleration</string>
	<key>mapAlongStrategy</key>
	<string>viewNearCommand</string>
	<key>nextAspectTint</key>
	<string>resultStyleSkewx</string>
	<key>pageviewPatternMargin</key>
	<string>cycleVarDirection</string>
</dict>
</plist>
