<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constraintAlongEnvironment</key>
	<string>routeVisitorCount</string>
	<key>featureFrameworkBottom</key>
	<string>resourceExceptObserver</string>
	<key>parallelAccessoryTheme</key>
	<string>interactiveUtilRate</string>
	<key>popupParamOrientation</key>
	<string>crudeChartBorder</string>
	<key>similarLabelName</key>
	<string>gesturedetectorStructureFeedback</string>
	<key>storeScopeOrigin</key>
	<string>curveFromMethod</string>
</dict>
</plist>
