<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeCurveVisible</key>
	<string>radiusOrPattern</string>
	<key>denseRichtextBound</key>
	<string>precisionSingletonCoord</string>
	<key>immutableCertificateIndex</key>
	<string>factoryOrSingleton</string>
	<key>pivotalArithmeticStyle</key>
	<string>transitionViaStyle</string>
	<key>positionedAdapterTension</key>
	<string>techniqueContainProcess</string>
	<key>requestCommandMargin</key>
	<string>techniquePhaseAcceleration</string>
	<key>requiredChallengeLeft</key>
	<string>cubitWithShape</string>
	<key>secondAsyncForce</key>
	<string>asynchronousHeroOrigin</string>
</dict>
</plist>
