<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryMediatorSkewx</key>
	<string>currentTransitionScale</string>
	<key>activityScopeRight</key>
	<string>comprehensiveSubscriptionName</string>
	<key>asyncVersusDecorator</key>
	<string>borderThroughState</string>
	<key>delegateShapePadding</key>
	<string>featureOfVar</string>
	<key>relationalGridCoord</key>
	<string>draggableInterfaceDistance</string>
</dict>
</plist>
