<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationAlongVariable</key>
	<string>documentContainStage</string>
	<key>euclideanSinkFormat</key>
	<string>graphDecoratorSaturation</string>
	<key>gridVariableSize</key>
	<string>streamSinceFunction</string>
	<key>localizationStrategyType</key>
	<string>flexibleTextureValidation</string>
	<key>positionedLevelTheme</key>
	<string>easyRectState</string>
	<key>sineByShape</key>
	<string>titleTempleInterval</string>
	<key>taskInsideFlyweight</key>
	<string>elasticStorageTheme</string>
	<key>textAndAction</key>
	<string>diversifiedNavigationDelay</string>
	<key>tickerJobTension</key>
	<string>scrollableOptimizerPosition</string>
	<key>workflowCompositeTheme</key>
	<string>rowAwayStage</string>
</dict>
</plist>
