<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>axisExceptStructure</key>
	<string>anchorProxyFrequency</string>
	<key>basicPresenterName</key>
	<string>reducerWithoutMode</string>
	<key>batchNearValue</key>
	<string>intermediateSkirtFeedback</string>
	<key>boxshadowIncludeTemple</key>
	<string>descriptionPlatformVisibility</string>
	<key>commonGraphDirection</key>
	<string>navigatorAroundPrototype</string>
	<key>coordinatorByInterpreter</key>
	<string>asyncCertificateResponse</string>
	<key>deferredActivityLocation</key>
	<string>dynamicTitleShade</string>
	<key>interfaceFunctionDepth</key>
	<string>intuitiveWidgetDirection</string>
	<key>sophisticatedViewSkewy</key>
	<string>crucialSliderScale</string>
</dict>
</plist>
