<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileContainerStyle</key>
	<string>explicitInteractorPressure</string>
	<key>baselineActivityAlignment</key>
	<string>deferredSceneVisible</string>
	<key>comprehensiveSegmentInteraction</key>
	<string>accessibleIconFormat</string>
	<key>interactiveCompleterTension</key>
	<string>nodeWithMode</string>
	<key>intuitiveSensorFrequency</key>
	<string>arithmeticLayerVelocity</string>
	<key>repositoryViaTier</key>
	<string>monsterExceptCommand</string>
	<key>subscriptionKindStyle</key>
	<string>respectiveTextStyle</string>
	<key>titleLevelStyle</key>
	<string>gemProcessRotation</string>
</dict>
</plist>
