<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>flexBeyondPlatform</key>
	<string>requiredUtilLeft</string>
	<key>fragmentIncludePrototype</key>
	<string>taskTempleContrast</string>
	<key>labelStrategyDepth</key>
	<string>denseBlocBottom</string>
</dict>
</plist>
