<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>durationViaProxy</key>
	<string>iconAwayFramework</string>
	<key>heapStyleBehavior</key>
	<string>animatedcontainerThroughPattern</string>
	<key>mediumStateMode</key>
	<string>completerDespiteVar</string>
	<key>providerViaScope</key>
	<string>masterVersusDecorator</string>
	<key>similarInterpolationStatus</key>
	<string>intuitiveGridviewStyle</string>
	<key>tabviewByParam</key>
	<string>builderFromStructure</string>
	<key>tangentParamTransparency</key>
	<string>boxStyleDelay</string>
</dict>
</plist>
