<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocMementoVelocity</key>
	<string>ephemeralCallbackDistance</string>
	<key>bulletIncludePlatform</key>
	<string>nextTimerOpacity</string>
	<key>constraintStrategyResponse</key>
	<string>richtextIncludeFlyweight</string>
	<key>controllerPlatformSpacing</key>
	<string>stepPhaseOpacity</string>
	<key>descriptorTierHead</key>
	<string>rectTempleMode</string>
	<key>momentumAlongNumber</key>
	<string>localGramInset</string>
	<key>monsterMementoColor</key>
	<string>loopStateOrigin</string>
	<key>storeChainFeedback</key>
	<string>sustainableArithmeticBottom</string>
	<key>topicEnvironmentHue</key>
	<string>smartMissionTheme</string>
</dict>
</plist>
