<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorMementoStatus</key>
	<string>routeCommandFormat</string>
	<key>customLogarithmVisibility</key>
	<string>imperativeAnimatedcontainerTop</string>
	<key>mainDescriptionSaturation</key>
	<string>comprehensiveTaskAlignment</string>
	<key>prismaticCheckboxIndex</key>
	<string>controllerInJob</string>
	<key>specifierStageSkewy</key>
	<string>listviewAndStrategy</string>
</dict>
</plist>
