<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>durationAboutInterpreter</key>
	<string>delegateNearFlyweight</string>
	<key>globalCosineTint</key>
	<string>independentConsumerInteraction</string>
	<key>intuitiveExponentMomentum</key>
	<string>tweenParamDelay</string>
	<key>metadataAtMethod</key>
	<string>threadOrObserver</string>
	<key>movementInsideStrategy</key>
	<string>numericalHeroBrightness</string>
	<key>numericalCursorSaturation</key>
	<string>concreteReductionLocation</string>
	<key>oldRadiusState</key>
	<string>resultKindTransparency</string>
	<key>primaryManagerSkewx</key>
	<string>buttonOrComposite</string>
	<key>responseAwayAdapter</key>
	<string>movementIncludeOperation</string>
	<key>statefulCurveTransparency</key>
	<string>subpixelAsStrategy</string>
</dict>
</plist>
