<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileHandlerScale</key>
	<string>remainderDecoratorPosition</string>
	<key>callbackLikeContext</key>
	<string>zoneFromSystem</string>
	<key>containerUntilState</key>
	<string>immutableUsagePressure</string>
	<key>smartInterfaceMomentum</key>
	<string>difficultRepositoryBorder</string>
	<key>tableActionHue</key>
	<string>logarithmAlongFlyweight</string>
	<key>transitionAtCommand</key>
	<string>sliderAroundParameter</string>
	<key>viewByStage</key>
	<string>firstSegmentTail</string>
	<key>visibleRemainderDistance</key>
	<string>mobileContainMode</string>
</dict>
</plist>
