<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeTextLeft</key>
	<string>parallelButtonBorder</string>
	<key>allocatorFacadeDistance</key>
	<string>methodVersusKind</string>
	<key>cupertinoSingletonTail</key>
	<string>isolateAndStrategy</string>
	<key>delicateSemanticsEdge</key>
	<string>secondCursorPosition</string>
	<key>eventVisitorShape</key>
	<string>streamWorkDirection</string>
	<key>widgetExceptOperation</key>
	<string>textureByPattern</string>
	<key>widgetMediatorTension</key>
	<string>containerScopeDelay</string>
	<key>workflowScopeBorder</key>
	<string>specifyIsolateShade</string>
</dict>
</plist>
