<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>controllerSinceDecorator</key>
	<string>desktopPositionInset</string>
	<key>cosineModeDepth</key>
	<string>baseSinceLevel</string>
	<key>diffableSliderScale</key>
	<string>constraintInsideType</string>
	<key>missedResourceBottom</key>
	<string>reusableSubscriptionTail</string>
	<key>missionPlatformFrequency</key>
	<string>masterAroundForm</string>
	<key>playbackCycleType</key>
	<string>asynchronousBitrateEdge</string>
	<key>progressbarWithoutProxy</key>
	<string>scaleInsideVariable</string>
	<key>resilientChannelStyle</key>
	<string>projectVariableDepth</string>
	<key>substantialProgressbarInset</key>
	<string>arithmeticChainSkewy</string>
</dict>
</plist>
