<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>canvasAlongAction</key>
	<string>precisionBeyondLevel</string>
	<key>cubeEnvironmentPosition</key>
	<string>fragmentDespitePhase</string>
	<key>elasticLayerVelocity</key>
	<string>tweenSinceVisitor</string>
	<key>groupVisitorAlignment</key>
	<string>modalWithoutMediator</string>
	<key>layoutFunctionShape</key>
	<string>threadStyleBrightness</string>
	<key>otherOffsetTag</key>
	<string>menuTypeAcceleration</string>
	<key>storageFunctionType</key>
	<string>eventSinceSystem</string>
	<key>symbolBesideOperation</key>
	<string>streamStateContrast</string>
</dict>
</plist>
