<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>granularBufferOffset</key>
	<string>coordinatorKindColor</string>
	<key>localizationPlatformInteraction</key>
	<string>chapterAgainstParameter</string>
	<key>materialTextfieldName</key>
	<string>specifyWidgetDepth</string>
	<key>observerDuringVisitor</key>
	<string>oldGetxVisible</string>
	<key>tensorPainterOpacity</key>
	<string>localObserverFrequency</string>
</dict>
</plist>
