<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorCompositeState</key>
	<string>sustainableEquipmentBound</string>
	<key>cursorAroundPrototype</key>
	<string>resizableLayerRate</string>
	<key>cursorEnvironmentLeft</key>
	<string>commonSizeMode</string>
	<key>dialogsAroundStructure</key>
	<string>timerAlongType</string>
	<key>isolateOrMode</key>
	<string>publicSkirtInteraction</string>
	<key>iterativeMaterialDistance</key>
	<string>modulusJobAppearance</string>
	<key>playbackPrototypePressure</key>
	<string>giftForBridge</string>
	<key>resilientModelLeft</key>
	<string>assetExceptBridge</string>
</dict>
</plist>
