<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>behaviorLikeJob</key>
	<string>accordionSemanticsVelocity</string>
	<key>certificateAdapterDensity</key>
	<string>missedCommandTop</string>
	<key>gemExceptNumber</key>
	<string>topicAmongJob</string>
	<key>offsetCycleBottom</key>
	<string>menuFrameworkFormat</string>
	<key>requestWithPattern</key>
	<string>blocAsObserver</string>
	<key>screenInShape</key>
	<string>behaviorUntilJob</string>
	<key>vectorMementoLeft</key>
	<string>smartProviderTransparency</string>
	<key>webAsyncSpeed</key>
	<string>storageMementoTail</string>
</dict>
</plist>
