<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorOutsidePlatform</key>
	<string>chartWorkTail</string>
	<key>composableChannelStyle</key>
	<string>iterativeGradientTransparency</string>
	<key>composableInteractorRight</key>
	<string>alignmentLikeTask</string>
	<key>constExpandedMomentum</key>
	<string>globalMomentumInteraction</string>
	<key>cosineStructureSkewy</key>
	<string>alphaAwayFunction</string>
	<key>customAssetSaturation</key>
	<string>handlerLevelDuration</string>
	<key>queryExceptPhase</key>
	<string>assetCompositeFormat</string>
	<key>toolFunctionVelocity</key>
	<string>sinkFormAppearance</string>
</dict>
</plist>
