<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baselineInterpreterOffset</key>
	<string>effectAgainstTier</string>
	<key>dependencyMethodVelocity</key>
	<string>canvasUntilShape</string>
	<key>relationalBorderVisible</key>
	<string>agileReductionForce</string>
	<key>reusableModelInset</key>
	<string>grainAgainstEnvironment</string>
	<key>sampleObserverSize</key>
	<string>symbolVisitorOpacity</string>
	<key>subpixelPerEnvironment</key>
	<string>mediocreNotifierStatus</string>
</dict>
</plist>
