<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>discardedHistogramDistance</key>
	<string>uniformEffectOpacity</string>
	<key>equalizationAsFramework</key>
	<string>gridWorkFrequency</string>
	<key>flexLikePrototype</key>
	<string>monsterWithTemple</string>
	<key>handlerViaStyle</key>
	<string>liteSingletonSaturation</string>
	<key>multiBinaryName</key>
	<string>errorNearValue</string>
	<key>offsetUntilTemple</key>
	<string>methodStyleOpacity</string>
	<key>resourcePatternAppearance</key>
	<string>entityFromLevel</string>
	<key>topicFormPosition</key>
	<string>smallContainerLeft</string>
	<key>viewAsFacade</key>
	<string>delicateVariantDistance</string>
</dict>
</plist>
