<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>brushOutsideMethod</key>
	<string>skinFrameworkVelocity</string>
	<key>decorationLevelVisible</key>
	<string>tableFrameworkSpacing</string>
	<key>descriptionTypeRate</key>
	<string>ephemeralDurationRight</string>
	<key>factoryChainVisible</key>
	<string>plateUntilInterpreter</string>
	<key>layoutFromFramework</key>
	<string>extensionIncludeTemple</string>
	<key>newestRowHue</key>
	<string>chapterAdapterVelocity</string>
	<key>textBeyondVisitor</key>
	<string>statefulUsageLeft</string>
</dict>
</plist>
