<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>behaviorContainParameter</key>
	<string>blocObserverSpacing</string>
	<key>blocParameterMomentum</key>
	<string>easyAlertSpeed</string>
	<key>disparateMobileHue</key>
	<string>iterativeBaselineOpacity</string>
	<key>resultUntilShape</key>
	<string>notificationTypeSkewy</string>
	<key>storyboardVariableOpacity</key>
	<string>canvasAtChain</string>
</dict>
</plist>
