<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>binaryTaskBorder</key>
	<string>mapBeyondTier</string>
	<key>buttonDespiteType</key>
	<string>robustProfileEdge</string>
	<key>channelForCycle</key>
	<string>curveDecoratorInteraction</string>
	<key>equipmentVarAlignment</key>
	<string>workflowCommandSaturation</string>
	<key>globalMomentumContrast</key>
	<string>basicMomentumHead</string>
	<key>hashAndState</key>
	<string>documentJobBehavior</string>
	<key>inheritedGesturedetectorValidation</key>
	<string>sequentialTaskVisible</string>
	<key>materialManagerVisibility</key>
	<string>adaptiveCacheKind</string>
	<key>protectedCycleVisible</key>
	<string>reactiveHandlerColor</string>
	<key>zoneAgainstWork</key>
	<string>titleThanState</string>
</dict>
</plist>
