<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>collectionContextRate</key>
	<string>radiusFunctionFlags</string>
	<key>featureInType</key>
	<string>textCompositePosition</string>
	<key>featureWithJob</key>
	<string>usedChapterMargin</string>
	<key>nodePrototypeColor</key>
	<string>heapParameterRotation</string>
	<key>priorDependencyDuration</key>
	<string>textBesideChain</string>
	<key>subscriptionBeyondVariable</key>
	<string>tabbarEnvironmentShape</string>
	<key>widgetExceptContext</key>
	<string>labelWithParameter</string>
</dict>
</plist>
