<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>columnOutsideMethod</key>
	<string>playbackModeState</string>
	<key>isolateChainContrast</key>
	<string>compositionStateFrequency</string>
	<key>smartBufferTop</key>
	<string>lossActionCount</string>
	<key>spriteBeyondDecorator</key>
	<string>interactorOrMediator</string>
	<key>textOutsideSingleton</key>
	<string>immediateStepVelocity</string>
	<key>textSystemTension</key>
	<string>blocForNumber</string>
	<key>titlePerChain</key>
	<string>hierarchicalEntityBorder</string>
</dict>
</plist>
