<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>convolutionParameterTransparency</key>
	<string>resilientBinaryPressure</string>
	<key>deferredSkinSkewx</key>
	<string>reusableModelSize</string>
	<key>mainInterfaceLeft</key>
	<string>agileAwaitFormat</string>
	<key>screenFrameworkBehavior</key>
	<string>binaryAtChain</string>
	<key>stackInsideSystem</key>
	<string>comprehensiveContainerAlignment</string>
	<key>usageStateBehavior</key>
	<string>discardedDurationTag</string>
</dict>
</plist>
