<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetFromVariable</key>
	<string>textBufferAcceleration</string>
	<key>factoryLevelRate</key>
	<string>modelStrategyHead</string>
	<key>localCaptionAppearance</key>
	<string>unaryPhaseTension</string>
	<key>paddingByOperation</key>
	<string>observerDespiteState</string>
	<key>responsiveDescriptionOrigin</key>
	<string>sizedboxEnvironmentShade</string>
	<key>signatureMethodAppearance</key>
	<string>descriptionWithEnvironment</string>
</dict>
</plist>
