<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentTypeRotation</key>
	<string>awaitBeyondEnvironment</string>
	<key>constraintPerStructure</key>
	<string>delegateForTier</string>
	<key>containerAwayTemple</key>
	<string>zoneByPattern</string>
	<key>listenerVariableSpeed</key>
	<string>containerCycleShade</string>
	<key>retainedPresenterTint</key>
	<string>flexibleGiftMode</string>
	<key>semanticDelegateSkewy</key>
	<string>concurrentLogBorder</string>
	<key>symmetricProviderRate</key>
	<string>originalQueryState</string>
	<key>tickerModeAppearance</key>
	<string>nibVersusFlyweight</string>
</dict>
</plist>
