<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderTaskContrast</key>
	<string>newestPreviewContrast</string>
	<key>euclideanTransformerSpeed</key>
	<string>serviceNearFacade</string>
	<key>largeIconPressure</key>
	<string>textAsVisitor</string>
	<key>resourceEnvironmentEdge</key>
	<string>customTransitionIndex</string>
	<key>widgetCompositeHue</key>
	<string>fixedLocalizationHead</string>
	<key>widgetStrategyOpacity</key>
	<string>gradientContainTier</string>
</dict>
</plist>
