<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>observerPrototypeBound</key>
	<string>animatedcontainerIncludeVisitor</string>
	<key>prismaticIsolateBehavior</key>
	<string>layoutAboutPhase</string>
	<key>remainderVariableSpeed</key>
	<string>immutableProviderBound</string>
	<key>sophisticatedCommandSpeed</key>
	<string>graphThroughCycle</string>
	<key>staticTaskSkewy</key>
	<string>effectMethodTail</string>
	<key>ternaryNumberTag</key>
	<string>sensorCommandSaturation</string>
</dict>
</plist>
