<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>coordinatorOperationLocation</key>
	<string>mobileTypeResponse</string>
	<key>factoryPatternDistance</key>
	<string>titleValueEdge</string>
	<key>frameOfMediator</key>
	<string>standaloneCompleterBound</string>
	<key>vectorAdapterRate</key>
	<string>signScopeOffset</string>
</dict>
</plist>
