<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clipperOrFacade</key>
	<string>queryPatternSaturation</string>
	<key>cubeNumberBorder</key>
	<string>dropdownbuttonFrameworkBehavior</string>
	<key>mainRoleOrientation</key>
	<string>liteScaleAppearance</string>
	<key>mediumReductionMomentum</key>
	<string>threadMediatorMode</string>
	<key>skinOperationVisible</key>
	<string>normViaStrategy</string>
	<key>subsequentMobileName</key>
	<string>radioDuringKind</string>
	<key>transitionFlyweightName</key>
	<string>completionViaPattern</string>
</dict>
</plist>
