<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedChecklistDelay</key>
	<string>diffableRoutePadding</string>
	<key>asyncViaVariable</key>
	<string>animatedIntensityStatus</string>
	<key>configurationExceptFacade</key>
	<string>flexThanAdapter</string>
	<key>errorAtStage</key>
	<string>permanentSpotStyle</string>
	<key>hierarchicalRouterContrast</key>
	<string>accessibleServiceDuration</string>
	<key>navigatorAwayStage</key>
	<string>protectedVectorMomentum</string>
	<key>nodeValueMomentum</key>
	<string>dropdownbuttonActivityTint</string>
	<key>standaloneBinaryOffset</key>
	<string>previewInsideStyle</string>
	<key>transitionLayerVisibility</key>
	<string>featureAlongProxy</string>
	<key>transitionMediatorShade</key>
	<string>flexibleCardIndex</string>
</dict>
</plist>
