<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>easyTickerDensity</key>
	<string>layerParameterContrast</string>
	<key>inheritedMarginFlags</key>
	<string>coordinatorThanCommand</string>
	<key>navigatorProcessMode</key>
	<string>themeSinceLayer</string>
	<key>radioTierRight</key>
	<string>reactiveDecorationSpeed</string>
	<key>webMonsterOrigin</key>
	<string>titleDuringActivity</string>
</dict>
</plist>
