<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>borderDecoratorLeft</key>
	<string>boxshadowBesidePlatform</string>
	<key>coordinatorContainActivity</key>
	<string>reductionStructureShade</string>
	<key>grayscaleAndAction</key>
	<string>compositionLikePhase</string>
	<key>methodAroundBuffer</key>
	<string>interpolationMediatorFlags</string>
	<key>plateContainLevel</key>
	<string>providerFrameworkDuration</string>
	<key>reusableCacheResponse</key>
	<string>durationInsideParameter</string>
	<key>statelessSwitchRate</key>
	<string>themeDespiteValue</string>
	<key>transitionMediatorSaturation</key>
	<string>standaloneParticleBottom</string>
</dict>
</plist>
