<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activityThroughAdapter</key>
	<string>skirtForDecorator</string>
	<key>chapterNearValue</key>
	<string>textLevelDelay</string>
	<key>fixedScreenSkewx</key>
	<string>mobxViaContext</string>
	<key>loopTempleDuration</key>
	<string>granularAlphaHead</string>
	<key>nextRolePressure</key>
	<string>textfieldBesideParam</string>
	<key>rectWithAction</key>
	<string>popupPhaseMomentum</string>
	<key>statefulFunctionDirection</key>
	<string>coordinatorProxyHue</string>
</dict>
</plist>
