<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commandMediatorIndex</key>
	<string>usageForWork</string>
	<key>configurationUntilWork</key>
	<string>flexObserverContrast</string>
	<key>expandedPatternContrast</key>
	<string>customizedDurationStatus</string>
	<key>nibInterpreterTail</key>
	<string>isolateAwayProcess</string>
	<key>persistentEffectAppearance</key>
	<string>rectSystemOpacity</string>
	<key>popupChainSkewy</key>
	<string>actionBesideChain</string>
	<key>prevChannelRate</key>
	<string>rowContextLeft</string>
	<key>providerPatternTheme</key>
	<string>interactorValueOpacity</string>
	<key>staticHandlerSize</key>
	<string>protocolPatternDepth</string>
	<key>temporaryActivityVelocity</key>
	<string>semanticsViaStructure</string>
</dict>
</plist>
