<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>displayableRowIndex</key>
	<string>elasticTabbarLocation</string>
	<key>extensionContainMode</key>
	<string>rowContainMode</string>
	<key>functionalSpecifierBrightness</key>
	<string>symmetricConfigurationDepth</string>
	<key>globalRadiusBrightness</key>
	<string>keyDropdownbuttonBehavior</string>
	<key>mediocreTangentDistance</key>
	<string>primaryProviderPadding</string>
	<key>missionThroughFlyweight</key>
	<string>spotPlatformPressure</string>
	<key>primaryChecklistTransparency</key>
	<string>layoutNearChain</string>
	<key>reducerExceptSingleton</key>
	<string>routeAndPattern</string>
	<key>reusableTopicVisible</key>
	<string>basicHeroVelocity</string>
	<key>typicalNavigatorMomentum</key>
	<string>utilProcessSpacing</string>
</dict>
</plist>
