<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedProtocolFrequency</key>
	<string>callbackKindOffset</string>
	<key>composableDurationOrigin</key>
	<string>offsetAboutEnvironment</string>
	<key>originalInterpolationTransparency</key>
	<string>geometricContractionFormat</string>
	<key>popupExceptCommand</key>
	<string>paddingEnvironmentShape</string>
	<key>secondLayoutOrigin</key>
	<string>mobileJobPressure</string>
	<key>timerUntilLevel</key>
	<string>spriteActionDirection</string>
	<key>typicalModelBehavior</key>
	<string>modelJobShape</string>
	<key>usageAlongPhase</key>
	<string>cursorViaOperation</string>
</dict>
</plist>
