<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorAndBridge</key>
	<string>loopFormAlignment</string>
	<key>completerValueBehavior</key>
	<string>diffablePresenterScale</string>
	<key>modalEnvironmentRight</key>
	<string>sharedZoneMomentum</string>
	<key>nodeProcessStatus</key>
	<string>themeChainSkewy</string>
</dict>
</plist>
