<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>containerThanTemple</key>
	<string>durationDecoratorTension</string>
	<key>curveNumberVisibility</key>
	<string>gesturedetectorOrParam</string>
	<key>futureBeyondStructure</key>
	<string>protectedHeroForce</string>
	<key>interactorPlatformFrequency</key>
	<string>ternaryOrAction</string>
	<key>originalMonsterForce</key>
	<string>kernelFlyweightSpeed</string>
	<key>reducerAdapterInteraction</key>
	<string>switchAmongTemple</string>
	<key>spriteAwayBuffer</key>
	<string>inkwellLikeEnvironment</string>
	<key>spriteVersusContext</key>
	<string>convolutionObserverInteraction</string>
</dict>
</plist>
