<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectLayerTension</key>
	<string>viewSystemSkewx</string>
	<key>cartesianPromiseState</key>
	<string>managerOfLevel</string>
	<key>localizationOrSystem</key>
	<string>mobileLikeObserver</string>
	<key>memberBesideDecorator</key>
	<string>configurationScopeTint</string>
	<key>menuFlyweightCoord</key>
	<string>usecaseViaLayer</string>
	<key>multiMaterialResponse</key>
	<string>decorationExceptAction</string>
</dict>
</plist>
