<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concreteEffectTail</key>
	<string>observerJobTension</string>
	<key>constConsumerPosition</key>
	<string>roleCycleTransparency</string>
	<key>gridWithoutTask</key>
	<string>interfaceDuringSystem</string>
	<key>materialExtensionDistance</key>
	<string>consumerUntilAction</string>
	<key>semanticWidgetDuration</key>
	<string>globalQueueHue</string>
</dict>
</plist>
