<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cardAboutParam</key>
	<string>graphScopeBehavior</string>
	<key>decorationDecoratorDelay</key>
	<string>movementStageOrientation</string>
	<key>fusedZoneResponse</key>
	<string>constStoreDistance</string>
	<key>hierarchicalMissionVelocity</key>
	<string>transitionOfActivity</string>
	<key>routerPrototypeOrigin</key>
	<string>actionDespiteParam</string>
	<key>semanticLossOpacity</key>
	<string>mediocreAssetType</string>
</dict>
</plist>
