<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>graphAroundWork</key>
	<string>cubitAmongFacade</string>
	<key>standaloneNodeFeedback</key>
	<string>tappableResponseContrast</string>
	<key>vectorActionAppearance</key>
	<string>hierarchicalConfigurationSaturation</string>
</dict>
</plist>
