<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>finalGemRotation</key>
	<string>futureBeyondType</string>
	<key>greatStreamBehavior</key>
	<string>nibInsideCycle</string>
	<key>menuTierLeft</key>
	<string>hardImageInset</string>
	<key>modelFunctionInteraction</key>
	<string>spotPatternDelay</string>
	<key>observerStyleContrast</key>
	<string>mobileRouteFlags</string>
	<key>pivotalMapCenter</key>
	<string>declarativeFactoryForce</string>
	<key>promiseOrPrototype</key>
	<string>mobilePositionedCenter</string>
	<key>rectLevelRight</key>
	<string>signProcessContrast</string>
	<key>touchPrototypeDirection</key>
	<string>coordinatorAtInterpreter</string>
	<key>uniqueCoordinatorBound</key>
	<string>ignoredInteractorOffset</string>
</dict>
</plist>
