<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeSizeResponse</key>
	<string>criticalTabbarOpacity</string>
	<key>convolutionStructureShade</key>
	<string>staticGemShape</string>
	<key>descriptionOperationSize</key>
	<string>parallelRadiusTint</string>
	<key>finalSemanticsValidation</key>
	<string>mobileObserverInterval</string>
	<key>groupForSystem</key>
	<string>callbackByObserver</string>
	<key>newestNormLocation</key>
	<string>inactiveLocalizationVelocity</string>
	<key>observerPlatformContrast</key>
	<string>explicitPointSaturation</string>
	<key>protectedPreviewName</key>
	<string>rectAlongCycle</string>
</dict>
</plist>
