<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicChapterVisibility</key>
	<string>queryStrategyCenter</string>
	<key>binaryActivityMomentum</key>
	<string>grainAwayStage</string>
	<key>drawerFlyweightVisibility</key>
	<string>transformerAsFramework</string>
	<key>errorThroughAction</key>
	<string>pinchableAsyncLeft</string>
	<key>immediateDecorationMargin</key>
	<string>originalResponseSkewy</string>
	<key>otherLayoutSkewy</key>
	<string>accessibleIndicatorHead</string>
	<key>zoneFormDirection</key>
	<string>reducerUntilObserver</string>
</dict>
</plist>
