<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>callbackStateMode</key>
	<string>localAlphaValidation</string>
	<key>persistentLayerBehavior</key>
	<string>uniformPlaybackMargin</string>
	<key>primaryPopupValidation</key>
	<string>positionProxyIndex</string>
</dict>
</plist>
