<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>exponentAwayStyle</key>
	<string>spriteFrameworkBottom</string>
	<key>fixedLayoutEdge</key>
	<string>histogramValueAppearance</string>
	<key>graphOrFacade</key>
	<string>functionalDelegateOrigin</string>
	<key>multiCoordinatorHue</key>
	<string>modulusStyleSkewy</string>
	<key>plateThanComposite</key>
	<string>intuitiveCheckboxTension</string>
	<key>rowAndLayer</key>
	<string>particleVisitorShape</string>
	<key>serviceExceptState</key>
	<string>particlePatternIndex</string>
	<key>smallViewMode</key>
	<string>textMediatorPadding</string>
</dict>
</plist>
