<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoGridCoord</key>
	<string>listenerExceptAdapter</string>
	<key>basicStreamAppearance</key>
	<string>commonBlocAcceleration</string>
	<key>featureCompositeContrast</key>
	<string>dynamicAnimatedcontainerAlignment</string>
	<key>prismaticTableSize</key>
	<string>variantInterpreterTop</string>
</dict>
</plist>
