<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginnerNavigatorValidation</key>
	<string>accessibleCatalystSpeed</string>
	<key>errorWorkForce</key>
	<string>handlerSystemRight</string>
	<key>intensityVariableInset</key>
	<string>resourceCommandForce</string>
	<key>movementAroundBridge</key>
	<string>grainAroundFunction</string>
	<key>themeCycleBrightness</key>
	<string>buttonParamStatus</string>
</dict>
</plist>
