<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationAmongComposite</key>
	<string>prismaticUnaryBottom</string>
	<key>concurrentNibSpacing</key>
	<string>radioWithoutFunction</string>
	<key>cupertinoCharacterOffset</key>
	<string>observerContextAcceleration</string>
	<key>curveNearCycle</key>
	<string>disparateResourceShade</string>
	<key>modelOrContext</key>
	<string>hardTransformerVisibility</string>
	<key>musicByJob</key>
	<string>textureTierSpacing</string>
	<key>popupVersusState</key>
	<string>cycleTierOrientation</string>
	<key>stateTempleHue</key>
	<string>columnLevelDistance</string>
</dict>
</plist>
