<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concreteBufferCount</key>
	<string>aspectratioInsideBridge</string>
	<key>fusedDurationDuration</key>
	<string>topicTempleScale</string>
	<key>oldBoxshadowTag</key>
	<string>missedSpotVisible</string>
	<key>signatureProcessVisibility</key>
	<string>unactivatedCommandDensity</string>
</dict>
</plist>
