<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelFunctionFeedback</key>
	<string>petActivitySkewy</string>
	<key>containerDespiteKind</key>
	<string>groupPerShape</string>
	<key>documentPerOperation</key>
	<string>masterBesideSingleton</string>
	<key>positionActivityType</key>
	<string>composablePlateInteraction</string>
	<key>progressbarParamLocation</key>
	<string>scrollableRouteLeft</string>
</dict>
</plist>
