<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionWithoutPlatform</key>
	<string>globalBoxBorder</string>
	<key>basicListenerDelay</key>
	<string>nodeDespiteStrategy</string>
	<key>containerInsideComposite</key>
	<string>channelStrategyType</string>
	<key>crudeButtonOrientation</key>
	<string>segmentPatternShade</string>
	<key>finalCubitSize</key>
	<string>explicitResourceTension</string>
	<key>frameDespiteNumber</key>
	<string>arithmeticWorkflowStyle</string>
	<key>listviewPrototypeBorder</key>
	<string>fusedVariantTail</string>
	<key>mediumCommandRotation</key>
	<string>captionActivityCenter</string>
	<key>positionSingletonVelocity</key>
	<string>actionWithoutOperation</string>
	<key>queryExceptLevel</key>
	<string>intuitiveAllocatorMode</string>
</dict>
</plist>
