<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cardNumberEdge</key>
	<string>semanticStateInteraction</string>
	<key>commonManagerSize</key>
	<string>mainServiceDelay</string>
	<key>constInjectionAcceleration</key>
	<string>subscriptionScopeMomentum</string>
	<key>dedicatedSignFrequency</key>
	<string>subpixelOfParameter</string>
	<key>handlerOrPlatform</key>
	<string>viewStrategyName</string>
	<key>memberOutsideChain</key>
	<string>streamEnvironmentBehavior</string>
	<key>navigatorModeShade</key>
	<string>cacheScopeOpacity</string>
	<key>pivotalVectorEdge</key>
	<string>statefulUtilBorder</string>
	<key>tickerParamCount</key>
	<string>popupFromBuffer</string>
</dict>
</plist>
