<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>newestDescriptorBottom</key>
	<string>permissiveCurveRight</string>
	<key>pageviewStageStyle</key>
	<string>layerOfEnvironment</string>
	<key>precisionAboutStructure</key>
	<string>checkboxJobBound</string>
</dict>
</plist>
