<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileGetxSize</key>
	<string>prismaticProtocolValidation</string>
	<key>constraintAtCycle</key>
	<string>plateBufferTension</string>
	<key>cosineViaCycle</key>
	<string>stampMementoPosition</string>
	<key>descriptorThanOperation</key>
	<string>borderScopeOrigin</string>
	<key>observerEnvironmentMode</key>
	<string>desktopScrollStatus</string>
	<key>opaqueDescriptorAppearance</key>
	<string>stateSinceStrategy</string>
	<key>otherShaderShade</key>
	<string>optimizerTaskColor</string>
	<key>resolverPerDecorator</key>
	<string>gramTierSpacing</string>
</dict>
</plist>
