<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryAndMethod</key>
	<string>graphAsType</string>
	<key>advancedAlertSkewy</key>
	<string>robustBuilderTop</string>
	<key>collectionScopeName</key>
	<string>unactivatedBoxshadowHue</string>
	<key>entropyInFlyweight</key>
	<string>timerAndMode</string>
	<key>ephemeralMediaBorder</key>
	<string>titleFormOffset</string>
	<key>fixedChannelSkewy</key>
	<string>streamParamOrientation</string>
	<key>retainedWidgetAcceleration</key>
	<string>greatConfigurationTransparency</string>
	<key>serviceOperationColor</key>
	<string>mutableBitrateState</string>
</dict>
</plist>
