<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hashChainRight</key>
	<string>clipperLayerRate</string>
	<key>layoutNumberAppearance</key>
	<string>tableEnvironmentShade</string>
	<key>providerWorkFormat</key>
	<string>activeModelTop</string>
	<key>unsortedModelInset</key>
	<string>blocEnvironmentVelocity</string>
</dict>
</plist>
