<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonByCycle</key>
	<string>awaitNumberBrightness</string>
	<key>constBlocTheme</key>
	<string>buttonProcessTag</string>
	<key>intensityParamVisible</key>
	<string>firstNavigationState</string>
	<key>largeCoordinatorHue</key>
	<string>streamOfCommand</string>
	<key>painterVarTheme</key>
	<string>chapterTypeAppearance</string>
	<key>protectedButtonPressure</key>
	<string>contractionAlongProxy</string>
	<key>symmetricPlaybackSpacing</key>
	<string>exponentPerStrategy</string>
</dict>
</plist>
