<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionFacadeFeedback</key>
	<string>webChapterOrientation</string>
	<key>aspectModeShade</key>
	<string>paddingUntilPlatform</string>
	<key>consultativeGraphLeft</key>
	<string>missionInObserver</string>
	<key>directDocumentRotation</key>
	<string>clipperLikePrototype</string>
	<key>secondFeatureDelay</key>
	<string>smallUtilTension</string>
	<key>tabbarPerStyle</key>
	<string>delicatePositionedTag</string>
</dict>
</plist>
