<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardVectorLeft</key>
	<string>musicOperationVisibility</string>
	<key>concreteMatrixValidation</key>
	<string>usageAmongTemple</string>
	<key>frameAtFacade</key>
	<string>bufferCyclePadding</string>
	<key>graphValueInset</key>
	<string>liteBrushHue</string>
	<key>logAgainstVisitor</key>
	<string>layerSystemOrigin</string>
	<key>routerCompositeVelocity</key>
	<string>singleCurveCenter</string>
</dict>
</plist>
