<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awaitAtObserver</key>
	<string>spriteDespiteMethod</string>
	<key>configurationExceptWork</key>
	<string>rectActionSkewy</string>
	<key>fixedPositionSkewy</key>
	<string>uniformWidgetVelocity</string>
	<key>geometricGrainFrequency</key>
	<string>observerStructureBound</string>
	<key>kernelExceptVar</key>
	<string>channelJobRight</string>
	<key>layerContainPrototype</key>
	<string>swiftForMethod</string>
	<key>retainedControllerFrequency</key>
	<string>nextZoneOrigin</string>
	<key>sizedboxOperationOrigin</key>
	<string>sessionBridgeRight</string>
	<key>tweenAroundVariable</key>
	<string>lossStyleColor</string>
</dict>
</plist>
