<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocModeRight</key>
	<string>hierarchicalHeroTag</string>
	<key>injectionStructureSpeed</key>
	<string>convolutionDuringCommand</string>
	<key>nextLabelDistance</key>
	<string>beginnerAspectratioShade</string>
	<key>transitionTaskDelay</key>
	<string>associatedConstraintStyle</string>
</dict>
</plist>
