<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderFrameworkState</key>
	<string>entityAmongMethod</string>
	<key>exceptionFacadeMode</key>
	<string>modelInsideSystem</string>
	<key>masterPlatformAppearance</key>
	<string>axisChainOrientation</string>
	<key>particleFromMethod</key>
	<string>immediateSkinState</string>
	<key>sophisticatedCompleterKind</key>
	<string>capacitiesLikeState</string>
</dict>
</plist>
