<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubeContainTier</key>
	<string>sizeVersusStructure</string>
	<key>desktopBehaviorBehavior</key>
	<string>inactiveMarginAlignment</string>
	<key>exceptionSinceContext</key>
	<string>listenerPerMediator</string>
	<key>exponentThroughFlyweight</key>
	<string>dynamicHeapBottom</string>
	<key>progressbarObserverTransparency</key>
	<string>frameByTier</string>
	<key>resolverContextStyle</key>
	<string>skinBufferBound</string>
	<key>secondSignatureBorder</key>
	<string>animationIncludeMethod</string>
	<key>utilExceptDecorator</key>
	<string>robustPriorityInset</string>
</dict>
</plist>
