<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetAtDecorator</key>
	<string>directlyLayoutBottom</string>
	<key>durationParamName</key>
	<string>futureInsidePattern</string>
	<key>monsterAgainstLayer</key>
	<string>unsortedCallbackDelay</string>
</dict>
</plist>
