<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationOfComposite</key>
	<string>accordionDescriptorLocation</string>
	<key>columnFromStructure</key>
	<string>immediateManagerHead</string>
	<key>compositionalMovementVisible</key>
	<string>difficultTaskKind</string>
	<key>intensityInterpreterSize</key>
	<string>webManagerDistance</string>
	<key>mediaqueryAroundSingleton</key>
	<string>drawerAroundParameter</string>
	<key>modalParamVisible</key>
	<string>diffableSwitchVisible</string>
	<key>prismaticConstraintVisible</key>
	<string>statelessPrototypeFrequency</string>
	<key>shaderParamSkewx</key>
	<string>graphWithFacade</string>
	<key>singletonStrategySize</key>
	<string>animationFacadeOpacity</string>
</dict>
</plist>
