<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>crucialScrollContrast</key>
	<string>standaloneCommandDistance</string>
	<key>dimensionScopeDepth</key>
	<string>resultVisitorDuration</string>
	<key>getxEnvironmentSkewx</key>
	<string>secondMediaInterval</string>
	<key>positionedVariableBound</key>
	<string>stackCompositeSkewx</string>
</dict>
</plist>
