<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>batchStrategyTail</key>
	<string>presenterCompositeTheme</string>
	<key>directGemInteraction</key>
	<string>futureVersusStage</string>
	<key>documentFacadeSkewx</key>
	<string>animatedLabelVelocity</string>
	<key>lastRowCount</key>
	<string>ternaryAsForm</string>
	<key>mediocreListviewStatus</key>
	<string>modelInterpreterKind</string>
	<key>navigatorVisitorCoord</key>
	<string>topicForSystem</string>
	<key>permissiveDescriptorDuration</key>
	<string>zoneMethodShape</string>
	<key>screenOfFacade</key>
	<string>signaturePhaseTail</string>
	<key>widgetTaskCenter</key>
	<string>localizationViaFunction</string>
</dict>
</plist>
