<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphaPrototypeDistance</key>
	<string>similarExponentRight</string>
	<key>borderObserverOpacity</key>
	<string>gemContextVisible</string>
	<key>bulletOutsideAdapter</key>
	<string>typicalErrorOffset</string>
	<key>convolutionTierTail</key>
	<string>compositionalMarginOpacity</string>
	<key>dialogsStageTransparency</key>
	<string>pinchableCoordinatorTint</string>
	<key>easyDurationFormat</key>
	<string>iconPatternRight</string>
	<key>logMethodIndex</key>
	<string>nativePrecisionShade</string>
	<key>notifierTempleDepth</key>
	<string>boxshadowWithMethod</string>
	<key>ternaryProcessName</key>
	<string>gridAwayFunction</string>
</dict>
</plist>
