<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hierarchicalBoxSaturation</key>
	<string>alertDespiteWork</string>
	<key>isolateChainBottom</key>
	<string>containerExceptLayer</string>
	<key>metadataTierVisible</key>
	<string>menuEnvironmentType</string>
	<key>momentumAmongAdapter</key>
	<string>uniqueInteractorDepth</string>
	<key>nibWithAction</key>
	<string>imperativeCycleHead</string>
	<key>radiusValueShape</key>
	<string>entropyCommandState</string>
	<key>resourceAlongState</key>
	<string>missedResultSize</string>
</dict>
</plist>
