<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customizedResourceInset</key>
	<string>declarativeChannelsStyle</string>
	<key>greatHistogramShade</key>
	<string>difficultCosineTheme</string>
	<key>layoutChainSkewy</key>
	<string>entityAwayMediator</string>
	<key>navigatorContainAdapter</key>
	<string>menuThanScope</string>
	<key>newestPositionPressure</key>
	<string>semanticProjectionOffset</string>
	<key>projectionForScope</key>
	<string>tabbarCompositeCenter</string>
</dict>
</plist>
