<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>brushNumberTension</key>
	<string>stepFormPosition</string>
	<key>graphSingletonFormat</key>
	<string>masterFromTier</string>
	<key>mediumContainerBound</key>
	<string>rowFrameworkMomentum</string>
	<key>skirtBufferSkewy</key>
	<string>concreteNibEdge</string>
	<key>sliderStateOrientation</key>
	<string>popupTypeLeft</string>
	<key>sustainableResponseContrast</key>
	<string>scaffoldPhaseSpacing</string>
	<key>tabviewStageMomentum</key>
	<string>mediaModeDelay</string>
	<key>webGiftVisibility</key>
	<string>unaryCommandFrequency</string>
</dict>
</plist>
