<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleOperationIndex</key>
	<string>stampBufferDensity</string>
	<key>difficultDescriptionTheme</key>
	<string>mobxBridgeShade</string>
	<key>effectTierStatus</key>
	<string>grainVisitorLeft</string>
	<key>localSliderSkewy</key>
	<string>easyMovementTop</string>
	<key>newestResultBorder</key>
	<string>sceneVersusLevel</string>
	<key>protectedIntensityInset</key>
	<string>flexibleServicePosition</string>
	<key>providerContainOperation</key>
	<string>dynamicResourceMargin</string>
	<key>textCycleTop</key>
	<string>advancedDropdownbuttonRate</string>
</dict>
</plist>
