<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>containerPatternMode</key>
	<string>offsetDespiteValue</string>
	<key>cubeFacadeMode</key>
	<string>interactorInsideStructure</string>
	<key>eventStructureEdge</key>
	<string>delicateLoopScale</string>
	<key>responsiveButtonDistance</key>
	<string>streamAwayComposite</string>
	<key>similarSkinMargin</key>
	<string>musicKindSpacing</string>
	<key>swiftFunctionStyle</key>
	<string>transformerFromState</string>
	<key>symbolProcessName</key>
	<string>methodOrType</string>
	<key>variantFacadePressure</key>
	<string>draggableAlignmentOffset</string>
</dict>
</plist>
