<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>certificateUntilJob</key>
	<string>gemVisitorVisibility</string>
	<key>instructionAwayInterpreter</key>
	<string>sliderAmongStyle</string>
	<key>nodeAsVar</key>
	<string>challengeOutsideTask</string>
	<key>prismaticViewLocation</key>
	<string>callbackByParameter</string>
	<key>reactiveActivitySaturation</key>
	<string>actionAtCycle</string>
	<key>sampleJobVisibility</key>
	<string>priorLayerDensity</string>
	<key>semanticBlocTail</key>
	<string>collectionJobShape</string>
</dict>
</plist>
