<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorStructureTheme</key>
	<string>tabviewThroughLayer</string>
	<key>graphStructureColor</key>
	<string>chapterPerProxy</string>
	<key>groupStructureEdge</key>
	<string>difficultSliderPadding</string>
	<key>layoutCommandMomentum</key>
	<string>constCompositionStyle</string>
	<key>layoutVisitorKind</key>
	<string>crucialReductionBorder</string>
	<key>navigatorStructureOffset</key>
	<string>screenInForm</string>
	<key>numericalInteractorLocation</key>
	<string>collectionSingletonCount</string>
	<key>routeFromCommand</key>
	<string>servicePhaseKind</string>
	<key>storyboardFormCenter</key>
	<string>workflowInsideNumber</string>
	<key>symbolCycleSpacing</key>
	<string>cardAgainstAdapter</string>
</dict>
</plist>
