<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>nodeAboutStage</key>
	<string>expandedByPrototype</string>
	<key>opaqueLayerDepth</key>
	<string>remainderForPattern</string>
	<key>sharedPriorityBound</key>
	<string>grainParamBehavior</string>
</dict>
</plist>
