<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capsuleMementoForce</key>
	<string>mediumMarginKind</string>
	<key>hashPatternValidation</key>
	<string>buttonViaActivity</string>
	<key>mediumCustompaintEdge</key>
	<string>sceneSinceMemento</string>
	<key>metadataAmongContext</key>
	<string>movementActionForce</string>
	<key>resultThanMethod</key>
	<string>indicatorValueTransparency</string>
	<key>rowStrategyCoord</key>
	<string>featureMediatorCoord</string>
	<key>semanticScrollBehavior</key>
	<string>cardContainJob</string>
	<key>textProxyScale</key>
	<string>parallelPaddingShade</string>
</dict>
</plist>
