<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>eventFormRight</key>
	<string>scaleActionBehavior</string>
	<key>skinMementoType</key>
	<string>priorBufferSpacing</string>
	<key>standaloneTextShape</key>
	<string>grayscaleFrameworkScale</string>
	<key>temporaryMultiplicationBorder</key>
	<string>equipmentBufferFlags</string>
</dict>
</plist>
