<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activityWorkRate</key>
	<string>providerStageScale</string>
	<key>blocOfFlyweight</key>
	<string>robustEntityKind</string>
	<key>controllerForEnvironment</key>
	<string>repositoryInOperation</string>
	<key>eventInsideBuffer</key>
	<string>rectShapeDepth</string>
	<key>hierarchicalStepCenter</key>
	<string>widgetAroundKind</string>
	<key>independentRouterTint</key>
	<string>variantMediatorContrast</string>
	<key>newestEntityRotation</key>
	<string>constMultiplicationFlags</string>
	<key>singletonContainParameter</key>
	<string>mapModeBehavior</string>
	<key>standaloneConfigurationBorder</key>
	<string>streamAboutTask</string>
	<key>taskAlongBuffer</key>
	<string>usedEntityTheme</string>
</dict>
</plist>
