<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderPerPrototype</key>
	<string>streamStageCoord</string>
	<key>containerUntilChain</key>
	<string>symmetricAlignmentSize</string>
	<key>curveScopeCenter</key>
	<string>canvasAmongLevel</string>
	<key>discardedSensorResponse</key>
	<string>boxshadowVersusPrototype</string>
	<key>isolateOrFramework</key>
	<string>featureStructureBorder</string>
	<key>mutableRoleBorder</key>
	<string>handlerAsKind</string>
	<key>publicResolverAppearance</key>
	<string>instructionAsCycle</string>
	<key>sliderWithoutDecorator</key>
	<string>precisionCommandSize</string>
</dict>
</plist>
