<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticThanInterpreter</key>
	<string>responseStrategySpacing</string>
	<key>capsuleFlyweightOrientation</key>
	<string>isolateCompositeCount</string>
	<key>cycleBesideInterpreter</key>
	<string>alignmentMethodKind</string>
	<key>descriptionScopeSize</key>
	<string>awaitInState</string>
	<key>ephemeralThreadOffset</key>
	<string>liteRepositorySpacing</string>
	<key>intermediateKernelVisible</key>
	<string>interactorScopeLeft</string>
	<key>offsetAwaySingleton</key>
	<string>cubeFunctionColor</string>
	<key>protectedTransitionPosition</key>
	<string>topicStateValidation</string>
	<key>protocolFormContrast</key>
	<string>observerTempleCenter</string>
	<key>semanticsAroundLayer</key>
	<string>signatureAndDecorator</string>
</dict>
</plist>
