<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedBoxshadowInteraction</key>
	<string>cacheStageIndex</string>
	<key>animationOperationStatus</key>
	<string>listenerAroundInterpreter</string>
	<key>arithmeticBuilderAlignment</key>
	<string>resourceFromPattern</string>
	<key>layoutModeBorder</key>
	<string>sizeFunctionName</string>
	<key>lostMomentumVelocity</key>
	<string>hierarchicalHistogramTail</string>
	<key>scrollableHashTension</key>
	<string>animationSingletonForce</string>
	<key>tangentLikeMediator</key>
	<string>touchUntilVar</string>
	<key>tensorMetadataType</key>
	<string>heapThroughAction</string>
</dict>
</plist>
