<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>controllerInsideContext</key>
	<string>tickerAboutSingleton</string>
	<key>giftDuringComposite</key>
	<string>consumerContextFrequency</string>
	<key>symbolUntilTask</key>
	<string>entityDuringValue</string>
	<key>synchronousCollectionPosition</key>
	<string>hyperbolicVectorDistance</string>
	<key>tensorSwiftIndex</key>
	<string>instructionDecoratorTint</string>
</dict>
</plist>
