<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>canvasPerMemento</key>
	<string>delegateWithContext</string>
	<key>dynamicAnchorTint</key>
	<string>transformerWithoutChain</string>
	<key>groupWithoutFramework</key>
	<string>robustWorkflowDistance</string>
	<key>invisibleResponseOpacity</key>
	<string>custompaintBySingleton</string>
	<key>mapTypeType</key>
	<string>usageContextBehavior</string>
	<key>primaryRiverpodRight</key>
	<string>sizedboxExceptType</string>
</dict>
</plist>
