<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>decorationEnvironmentTail</key>
	<string>discardedStatefulLeft</string>
	<key>displayableCosineHead</key>
	<string>vectorPatternVisibility</string>
	<key>nodeAmongMode</key>
	<string>builderBeyondKind</string>
	<key>numericalPrecisionName</key>
	<string>logarithmContextRotation</string>
	<key>radiusValueFrequency</key>
	<string>blocDecoratorTail</string>
	<key>relationalQueryTail</key>
	<string>cycleAboutActivity</string>
	<key>sortedVectorContrast</key>
	<string>layoutAtDecorator</string>
	<key>substantialButtonVelocity</key>
	<string>previewAlongPhase</string>
</dict>
</plist>
