<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationContainProxy</key>
	<string>usageCycleShade</string>
	<key>builderWithPhase</key>
	<string>painterStateValidation</string>
	<key>canvasScopeKind</key>
	<string>indicatorStructureTheme</string>
	<key>monsterFormDelay</key>
	<string>controllerDuringComposite</string>
	<key>previewAwayTemple</key>
	<string>ignoredTextHue</string>
	<key>semanticPetDensity</key>
	<string>numericalModalEdge</string>
	<key>sliderThroughProcess</key>
	<string>statelessGraphicShade</string>
	<key>symmetricTransitionHue</key>
	<string>gestureShapeVisibility</string>
	<key>unaryVariableScale</key>
	<string>explicitSemanticsName</string>
	<key>usecaseThanInterpreter</key>
	<string>stackSystemSkewy</string>
</dict>
</plist>
