<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectBesideBuffer</key>
	<string>sinkAgainstFacade</string>
	<key>bufferBeyondCommand</key>
	<string>layoutCompositeSaturation</string>
	<key>buttonEnvironmentEdge</key>
	<string>accessibleSpineSkewx</string>
	<key>callbackExceptType</key>
	<string>positionDuringBridge</string>
	<key>dedicatedChecklistSkewy</key>
	<string>labelFrameworkSkewx</string>
	<key>discardedModelTail</key>
	<string>providerLikeForm</string>
	<key>errorViaParameter</key>
	<string>catalystSingletonDistance</string>
	<key>sinkPerStyle</key>
	<string>mobileUntilLevel</string>
	<key>statelessDelegateTension</key>
	<string>dependencySystemType</string>
	<key>touchValueTag</key>
	<string>stateDuringChain</string>
</dict>
</plist>
