<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capacitiesWithPrototype</key>
	<string>similarSineCoord</string>
	<key>cupertinoSinkLocation</key>
	<string>featureAtFunction</string>
	<key>currentPositionBound</key>
	<string>storeFormDuration</string>
	<key>logAlongAdapter</key>
	<string>navigatorPerParam</string>
	<key>pinchableTaskTail</key>
	<string>resolverBeyondStructure</string>
	<key>similarTaskCoord</key>
	<string>directFragmentOffset</string>
</dict>
</plist>
