<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>captionStateInterval</key>
	<string>taskStageIndex</string>
	<key>coordinatorNearParam</key>
	<string>masterCompositeHue</string>
	<key>grayscaleChainBrightness</key>
	<string>plateAsSingleton</string>
	<key>hardClipperSkewx</key>
	<string>managerCycleDepth</string>
	<key>requestBridgeAlignment</key>
	<string>reusableAssetHead</string>
	<key>responseExceptJob</key>
	<string>priorityOrMemento</string>
	<key>switchAlongVisitor</key>
	<string>reducerSinceTask</string>
	<key>visibleMusicMargin</key>
	<string>animationMementoBorder</string>
</dict>
</plist>
