<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>containerByNumber</key>
	<string>particleThroughState</string>
	<key>modalInInterpreter</key>
	<string>allocatorViaDecorator</string>
	<key>originalTouchOrientation</key>
	<string>nextAlignmentColor</string>
	<key>sampleCycleBehavior</key>
	<string>tangentVariableSkewx</string>
	<key>segueThanMethod</key>
	<string>tickerActivityCount</string>
	<key>textureWithoutSingleton</key>
	<string>sineBufferEdge</string>
</dict>
</plist>
