<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticEnvironmentFrequency</key>
	<string>difficultPrecisionPadding</string>
	<key>criticalReferenceState</key>
	<string>callbackNearValue</string>
	<key>delicateThreadForce</key>
	<string>specifyDrawerTheme</string>
	<key>directlyControllerDelay</key>
	<string>pageviewFormFrequency</string>
	<key>errorValueTop</key>
	<string>multiCompositionRotation</string>
	<key>factoryStrategyFormat</key>
	<string>durationParameterKind</string>
	<key>operationShapeRate</key>
	<string>lostPositionLeft</string>
	<key>rapidMediaqueryForce</key>
	<string>parallelTransitionPosition</string>
	<key>storageBridgePosition</key>
	<string>priorCollectionState</string>
	<key>unsortedDropdownbuttonFlags</key>
	<string>directDropdownbuttonRight</string>
</dict>
</plist>
