<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocTaskValidation</key>
	<string>diffableViewValidation</string>
	<key>cubitVersusBridge</key>
	<string>skirtEnvironmentTop</string>
	<key>eventMementoEdge</key>
	<string>lastSymbolMomentum</string>
	<key>featureTypeIndex</key>
	<string>segueNumberFlags</string>
	<key>projectionTypeState</key>
	<string>globalHistogramVisibility</string>
	<key>sortedEffectDirection</key>
	<string>fragmentFormTheme</string>
</dict>
</plist>
