<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncStrategyKind</key>
	<string>listenerContextBottom</string>
	<key>checkboxTierResponse</key>
	<string>multiGridviewResponse</string>
	<key>effectWorkCenter</key>
	<string>customStepInset</string>
	<key>notificationForMediator</key>
	<string>assetBeyondScope</string>
	<key>prismaticRouterBrightness</key>
	<string>sineStateInset</string>
	<key>repositoryAmongValue</key>
	<string>statefulPrototypeHue</string>
	<key>serviceIncludeStage</key>
	<string>spineParameterTransparency</string>
	<key>transformerScopeDuration</key>
	<string>zoneAroundPhase</string>
</dict>
</plist>
