<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chartOfParam</key>
	<string>taskFacadeDistance</string>
	<key>columnAmongValue</key>
	<string>documentActionSaturation</string>
	<key>interactorCompositeTag</key>
	<string>kernelAsParam</string>
	<key>isolateCycleColor</key>
	<string>controllerContainParameter</string>
	<key>offsetOrPrototype</key>
	<string>mediocreAlphaOrientation</string>
	<key>projectionBridgeDensity</key>
	<string>geometricAsyncFlags</string>
	<key>storeChainOrientation</key>
	<string>largeScaffoldSpacing</string>
</dict>
</plist>
