<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticPhaseFlags</key>
	<string>currentGraphAlignment</string>
	<key>hashAgainstActivity</key>
	<string>storyboardAmongPrototype</string>
	<key>modulusInState</key>
	<string>gridFrameworkSpacing</string>
	<key>nativeSliderValidation</key>
	<string>inactiveKernelBehavior</string>
	<key>permanentCubeName</key>
	<string>concreteRouteAppearance</string>
	<key>sizeOperationState</key>
	<string>inkwellContextSize</string>
	<key>topicWithChain</key>
	<string>captionActivityFeedback</string>
</dict>
</plist>
