<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionalCommandColor</key>
	<string>bufferActivityLocation</string>
	<key>heroProcessTail</key>
	<string>positionedForNumber</string>
	<key>secondActionAlignment</key>
	<string>isolateDuringWork</string>
	<key>serviceAroundType</key>
	<string>displayableObserverSaturation</string>
	<key>signatureVariableTransparency</key>
	<string>navigationActionStyle</string>
	<key>tabviewViaParam</key>
	<string>granularSliderPosition</string>
	<key>titleViaTier</key>
	<string>groupAmongNumber</string>
</dict>
</plist>
