<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baselineAndTemple</key>
	<string>singletonWithFunction</string>
	<key>blocWithoutStrategy</key>
	<string>vectorExceptPlatform</string>
	<key>columnWithoutAdapter</key>
	<string>semanticExceptionForce</string>
	<key>liteAspectOrientation</key>
	<string>inactiveCoordinatorTail</string>
	<key>lostTitleBound</key>
	<string>imageBesideVar</string>
	<key>roleSingletonInteraction</key>
	<string>desktopTransformerStyle</string>
</dict>
</plist>
