<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>durationAtProxy</key>
	<string>cycleJobVisibility</string>
	<key>effectBridgeDuration</key>
	<string>inheritedInkwellHead</string>
	<key>finalInterfaceName</key>
	<string>iterativeLayoutShade</string>
	<key>mediaqueryTierShape</key>
	<string>textExceptActivity</string>
	<key>titleFacadeState</key>
	<string>flexibleButtonFrequency</string>
</dict>
</plist>
