<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completionUntilForm</key>
	<string>activityThanVisitor</string>
	<key>errorVariableSkewy</key>
	<string>exceptionAmongTemple</string>
	<key>granularEffectTension</key>
	<string>controllerThanLayer</string>
	<key>kernelAgainstVariable</key>
	<string>explicitResponseHead</string>
	<key>memberVisitorVisibility</key>
	<string>appbarCompositeAcceleration</string>
	<key>sceneOperationFeedback</key>
	<string>queryStageStyle</string>
	<key>usecaseKindBound</key>
	<string>plateVisitorInterval</string>
	<key>usecaseMediatorBrightness</key>
	<string>boxUntilVisitor</string>
</dict>
</plist>
