<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dynamicSlashSkewx</key>
	<string>backwardProgressbarDistance</string>
	<key>mediaDecoratorCount</key>
	<string>titleAndPhase</string>
	<key>precisionDecoratorDepth</key>
	<string>navigatorLikeTask</string>
	<key>respectiveThemeStatus</key>
	<string>methodUntilPlatform</string>
	<key>roleStageCount</key>
	<string>storageAtPrototype</string>
	<key>standaloneColumnInteraction</key>
	<string>binaryFacadeContrast</string>
	<key>tickerThroughState</key>
	<string>rowJobSkewx</string>
	<key>zoneLayerSaturation</key>
	<string>typicalStackAlignment</string>
</dict>
</plist>
