<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubitForTier</key>
	<string>materialGraphicBound</string>
	<key>eagerCommandTint</key>
	<string>accordionGestureTail</string>
	<key>graphicInsideInterpreter</key>
	<string>semanticTextfieldInset</string>
	<key>pointInInterpreter</key>
	<string>symmetricFutureTheme</string>
	<key>routeChainAppearance</key>
	<string>discardedFactoryMode</string>
	<key>routeLikeMemento</key>
	<string>clipperBridgeVisibility</string>
</dict>
</plist>
