<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticBehaviorShade</key>
	<string>queueExceptMemento</string>
	<key>smallStreamDirection</key>
	<string>arithmeticVariantResponse</string>
	<key>symmetricCatalystColor</key>
	<string>painterAdapterSize</string>
	<key>timerDuringFunction</key>
	<string>transitionNearParam</string>
</dict>
</plist>
