<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelLayerKind</key>
	<string>globalStampRotation</string>
	<key>compositionalResultFormat</key>
	<string>tensorObserverTransparency</string>
	<key>optimizerInterpreterForce</key>
	<string>persistentMobileOrigin</string>
	<key>presenterPlatformScale</key>
	<string>advancedStoreBottom</string>
</dict>
</plist>
