<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>configurationInCommand</key>
	<string>iterativeAwaitForce</string>
	<key>containerFlyweightSize</key>
	<string>animatedcontainerByLayer</string>
	<key>cursorForSystem</key>
	<string>mobxStageDistance</string>
	<key>finalCapacitiesIndex</key>
	<string>containerUntilOperation</string>
	<key>gramVersusEnvironment</key>
	<string>mutableQueueAcceleration</string>
	<key>graphProxyRight</key>
	<string>newestTextBottom</string>
	<key>labelUntilTemple</key>
	<string>offsetVersusObserver</string>
	<key>oldToolCount</key>
	<string>gestureUntilEnvironment</string>
	<key>requestFrameworkRate</key>
	<string>explicitTableTint</string>
</dict>
</plist>
