<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>expandedBeyondJob</key>
	<string>marginLayerInteraction</string>
	<key>finalAspectratioInteraction</key>
	<string>workflowObserverVelocity</string>
	<key>graphThanAction</key>
	<string>cupertinoNodeTransparency</string>
	<key>missionSinceProcess</key>
	<string>decorationFlyweightAlignment</string>
	<key>secondDescriptionInteraction</key>
	<string>layoutMediatorCount</string>
	<key>segmentNumberSaturation</key>
	<string>boxInsideAction</string>
	<key>smartCapacitiesRate</key>
	<string>largeControllerBrightness</string>
	<key>typicalPositionedSpeed</key>
	<string>containerStyleTop</string>
</dict>
</plist>
