<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousPlateOpacity</key>
	<string>scenePatternTop</string>
	<key>containerAsKind</key>
	<string>storageAgainstLayer</string>
	<key>injectionViaProcess</key>
	<string>flexVarInterval</string>
	<key>keyInjectionTint</key>
	<string>arithmeticCubitType</string>
	<key>respectiveStoryboardLeft</key>
	<string>sortedContractionShade</string>
	<key>routeEnvironmentCoord</key>
	<string>geometricTransitionInteraction</string>
	<key>smartInjectionSize</key>
	<string>bufferFromVisitor</string>
	<key>tableDespiteLevel</key>
	<string>aspectMethodKind</string>
</dict>
</plist>
