<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>composableAxisRight</key>
	<string>extensionWithChain</string>
	<key>disabledResultPressure</key>
	<string>blocAlongValue</string>
	<key>firstNotificationFlags</key>
	<string>reducerAndVar</string>
	<key>futureValueStyle</key>
	<string>labelShapeTail</string>
	<key>mainOptionBound</key>
	<string>rectAgainstDecorator</string>
	<key>notificationContextDistance</key>
	<string>labelAgainstEnvironment</string>
</dict>
</plist>
