<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dependencyProxyContrast</key>
	<string>coordinatorWorkPadding</string>
	<key>directlyEqualizationAppearance</key>
	<string>backwardGroupInterval</string>
	<key>gemDuringPhase</key>
	<string>apertureFlyweightAcceleration</string>
	<key>gramFormFrequency</key>
	<string>significantSizePosition</string>
	<key>reusableModulusHead</key>
	<string>statelessMissionHue</string>
	<key>temporaryFutureDuration</key>
	<string>grayscaleFormPadding</string>
</dict>
</plist>
