<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveDependencyVelocity</key>
	<string>momentumWithShape</string>
	<key>blocSinceAction</key>
	<string>subscriptionFunctionTheme</string>
	<key>directlyCheckboxInterval</key>
	<string>eventUntilProxy</string>
	<key>entropyScopeHue</key>
	<string>sizeChainStyle</string>
	<key>fusedUsecaseShape</key>
	<string>routerModeDistance</string>
	<key>hashNearFunction</key>
	<string>particleAdapterSkewy</string>
	<key>staticGiftTension</key>
	<string>queueAndPattern</string>
	<key>storeBridgeDuration</key>
	<string>disabledOffsetShade</string>
	<key>subpixelSingletonVelocity</key>
	<string>flexibleGrainTheme</string>
	<key>timerStateEdge</key>
	<string>bufferAboutPhase</string>
</dict>
</plist>
