<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>handlerProcessStyle</key>
	<string>channelsOutsideNumber</string>
	<key>matrixStateSpeed</key>
	<string>aspectratioThroughPrototype</string>
	<key>prevResourceTail</key>
	<string>declarativeContainerShade</string>
	<key>previewWorkBehavior</key>
	<string>challengeDuringBridge</string>
	<key>similarAnimationTint</key>
	<string>progressbarAgainstDecorator</string>
	<key>skirtSystemLocation</key>
	<string>rectInsideStrategy</string>
</dict>
</plist>
