<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>containerShapeValidation</key>
	<string>coordinatorProxyHue</string>
	<key>easyTitlePressure</key>
	<string>queueInLayer</string>
	<key>iterativeResultBorder</key>
	<string>singletonModeDuration</string>
	<key>managerPlatformColor</key>
	<string>allocatorKindTheme</string>
	<key>modelTaskRotation</key>
	<string>riverpodAboutComposite</string>
	<key>newestCardTheme</key>
	<string>exceptionModeScale</string>
	<key>permissiveViewShade</key>
	<string>querySinceStyle</string>
	<key>positionedMementoDensity</key>
	<string>transformerAboutMediator</string>
	<key>storeInsideMethod</key>
	<string>gridValueCount</string>
</dict>
</plist>
