<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryProcessAcceleration</key>
	<string>boxshadowViaFlyweight</string>
	<key>custompaintDuringParameter</key>
	<string>movementOrOperation</string>
	<key>durationAlongOperation</key>
	<string>standaloneSliderAcceleration</string>
	<key>inactiveRowKind</key>
	<string>permanentQueryKind</string>
	<key>interactiveMediaqueryFlags</key>
	<string>declarativeMethodTop</string>
	<key>localButtonIndex</key>
	<string>futureVersusVisitor</string>
	<key>modelMediatorStyle</key>
	<string>dimensionSinceMode</string>
	<key>parallelButtonTheme</key>
	<string>requiredEffectTop</string>
</dict>
</plist>
