<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginnerBoxshadowCount</key>
	<string>cursorBridgeType</string>
	<key>chapterStageLocation</key>
	<string>smartSpritePosition</string>
	<key>effectInMode</key>
	<string>rapidPaddingMomentum</string>
	<key>iterativeStreamVisible</key>
	<string>disparateOffsetTop</string>
</dict>
</plist>
