<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>effectOutsideValue</key>
	<string>constMapName</string>
	<key>marginKindStatus</key>
	<string>finalInjectionPosition</string>
	<key>mobileCoordinatorName</key>
	<string>navigationDuringBuffer</string>
	<key>sampleStageBehavior</key>
	<string>heroUntilPrototype</string>
	<key>sceneAlongOperation</key>
	<string>invisibleAssetOpacity</string>
	<key>sophisticatedTextHead</key>
	<string>displayableLossVisibility</string>
</dict>
</plist>
