<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoMetadataDirection</key>
	<string>concreteBlocBorder</string>
	<key>frameOperationTheme</key>
	<string>directlyMetadataSpacing</string>
	<key>intensityAwayBridge</key>
	<string>layerPerStyle</string>
	<key>pivotalSizedboxName</key>
	<string>materialPriorityLeft</string>
</dict>
</plist>
