<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>behaviorExceptFacade</key>
	<string>hyperbolicBufferOrientation</string>
	<key>bufferLevelTail</key>
	<string>customizedQueryDepth</string>
	<key>decorationAgainstOperation</key>
	<string>intermediateConsumerAppearance</string>
	<key>entityDuringStructure</key>
	<string>asyncChapterDirection</string>
	<key>finalNodeForce</key>
	<string>listviewStructureAlignment</string>
	<key>fusedPlateRotation</key>
	<string>queryNumberSize</string>
	<key>gestureAlongForm</key>
	<string>coordinatorTypeTint</string>
	<key>intermediateDescriptionOrigin</key>
	<string>blocDuringLayer</string>
	<key>listenerProxyName</key>
	<string>lazyRowDirection</string>
	<key>modulusAtTemple</key>
	<string>unaryOfStrategy</string>
</dict>
</plist>
