<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncCubitInterval</key>
	<string>movementCompositeState</string>
	<key>descriptionModeMargin</key>
	<string>screenFrameworkResponse</string>
	<key>effectIncludeProxy</key>
	<string>decorationWithoutValue</string>
	<key>entityAgainstForm</key>
	<string>movementInsideInterpreter</string>
	<key>logarithmInFacade</key>
	<string>blocEnvironmentShape</string>
	<key>playbackViaParam</key>
	<string>utilAsAction</string>
	<key>precisionBesideInterpreter</key>
	<string>sizedboxBridgeBrightness</string>
	<key>resizableTweenOrigin</key>
	<string>streamVarScale</string>
	<key>sophisticatedNavigatorAcceleration</key>
	<string>plateStateMode</string>
</dict>
</plist>
