<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>curveOfKind</key>
	<string>radioAdapterPadding</string>
	<key>effectBridgeMomentum</key>
	<string>intuitiveConvolutionOrigin</string>
	<key>futureStateDepth</key>
	<string>blocExceptParameter</string>
	<key>largeTopicVelocity</key>
	<string>constraintContextFlags</string>
	<key>offsetDuringStructure</key>
	<string>scrollStructureBound</string>
	<key>reactiveEffectSkewy</key>
	<string>viewInsideCommand</string>
	<key>uniqueFutureName</key>
	<string>factoryThanStyle</string>
	<key>vectorPerShape</key>
	<string>allocatorShapeAcceleration</string>
</dict>
</plist>
