<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>controllerAboutStructure</key>
	<string>techniqueIncludeState</string>
	<key>permissiveActionLocation</key>
	<string>statefulInterpreterKind</string>
	<key>sizeOrStyle</key>
	<string>protectedCubeTint</string>
	<key>usecaseSinceSingleton</key>
	<string>delegateTempleScale</string>
</dict>
</plist>
