<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticTaskMomentum</key>
	<string>cursorBufferDensity</string>
	<key>displayableConstraintHead</key>
	<string>mediocreLossVisible</string>
	<key>euclideanSlashTop</key>
	<string>touchPatternBrightness</string>
	<key>immutableSkirtState</key>
	<string>vectorStructureInterval</string>
	<key>previewBeyondParam</key>
	<string>sineLayerShape</string>
	<key>toolActivityBorder</key>
	<string>tappableBaseSkewx</string>
	<key>uniformCanvasTop</key>
	<string>borderDuringCommand</string>
	<key>vectorBesideValue</key>
	<string>requestThroughLevel</string>
</dict>
</plist>
