<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chartTierType</key>
	<string>priorTextMomentum</string>
	<key>compositionalCanvasDistance</key>
	<string>nextResolverInset</string>
	<key>concurrentTickerBehavior</key>
	<string>concurrentIntensityInteraction</string>
	<key>nativeAnimationColor</key>
	<string>compositionalQueryName</string>
	<key>nibContainStage</key>
	<string>discardedCustompaintCoord</string>
	<key>requiredSignHead</key>
	<string>transformerUntilFacade</string>
	<key>sequentialZoneScale</key>
	<string>methodContainLayer</string>
</dict>
</plist>
