<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appbarAndLevel</key>
	<string>navigatorCycleInteraction</string>
	<key>assetFromJob</key>
	<string>explicitDrawerState</string>
	<key>hardNibLocation</key>
	<string>aspectAtShape</string>
	<key>opaqueBinaryInset</key>
	<string>intensityCycleBound</string>
	<key>rectObserverOrientation</key>
	<string>stackAsMode</string>
	<key>symmetricAllocatorDistance</key>
	<string>buttonDecoratorColor</string>
</dict>
</plist>
