<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>coordinatorThroughProxy</key>
	<string>sizedboxStateStyle</string>
	<key>flexAgainstShape</key>
	<string>specifyCustompaintIndex</string>
	<key>futureActionBorder</key>
	<string>statelessAnimationSkewx</string>
	<key>interactiveCycleTint</key>
	<string>normInsideOperation</string>
	<key>popupWithoutTier</key>
	<string>streamBridgeSaturation</string>
	<key>rectAndOperation</key>
	<string>widgetBesideState</string>
	<key>singleRowMode</key>
	<string>streamDuringContext</string>
	<key>ternaryNumberOpacity</key>
	<string>lostStoreSize</string>
</dict>
</plist>
