<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderAgainstType</key>
	<string>tickerForForm</string>
	<key>chartLevelVelocity</key>
	<string>accessibleAlertMode</string>
	<key>chartMethodEdge</key>
	<string>statelessTaskStatus</string>
	<key>disparateNotificationBottom</key>
	<string>inheritedListenerFeedback</string>
	<key>queryCycleContrast</key>
	<string>effectForStyle</string>
	<key>specifyOffsetDelay</key>
	<string>giftDuringFacade</string>
	<key>techniqueLikeKind</key>
	<string>radiusInsideLevel</string>
</dict>
</plist>
