<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticPositionedDirection</key>
	<string>positionThroughFlyweight</string>
	<key>cacheBesideTemple</key>
	<string>flexInsideWork</string>
	<key>interpolationAgainstFunction</key>
	<string>radiusInterpreterColor</string>
	<key>mediaThanVisitor</key>
	<string>actionPrototypeAppearance</string>
	<key>prismaticSineAcceleration</key>
	<string>primaryInterpolationScale</string>
	<key>singleBatchState</key>
	<string>heapPlatformOrientation</string>
	<key>statefulInsideContext</key>
	<string>bufferMediatorBottom</string>
</dict>
</plist>
