<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryLayerDepth</key>
	<string>diversifiedObserverOrigin</string>
	<key>bulletWithoutWork</key>
	<string>pinchableMomentumInterval</string>
	<key>ephemeralDecorationHue</key>
	<string>smartSegueKind</string>
	<key>observerParameterShade</key>
	<string>collectionValueMargin</string>
	<key>rectContextTransparency</key>
	<string>checkboxCommandBorder</string>
	<key>sequentialMasterOrigin</key>
	<string>eagerSpotTop</string>
	<key>spineAwayFacade</key>
	<string>memberVersusVar</string>
	<key>tangentOutsidePhase</key>
	<string>equipmentCommandAlignment</string>
</dict>
</plist>
