<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frameAsSystem</key>
	<string>tickerTempleVisibility</string>
	<key>listviewAndSystem</key>
	<string>swiftVariableTheme</string>
	<key>navigatorWorkTag</key>
	<string>asynchronousSizeDensity</string>
	<key>observerNumberMomentum</key>
	<string>denseGridviewSaturation</string>
	<key>pivotalSliderSaturation</key>
	<string>gemTaskForce</string>
	<key>scrollableAnchorSpeed</key>
	<string>smallCompleterAcceleration</string>
	<key>statefulUnaryOffset</key>
	<string>sizedboxAmongWork</string>
	<key>tickerAroundProxy</key>
	<string>drawerDuringPlatform</string>
</dict>
</plist>
