<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baselineAgainstDecorator</key>
	<string>requestBufferKind</string>
	<key>decorationThroughStage</key>
	<string>sceneAtType</string>
	<key>deferredLogarithmAlignment</key>
	<string>nodeInStage</string>
	<key>delegateBridgeDelay</key>
	<string>tabbarCycleDepth</string>
	<key>presenterWithoutTask</key>
	<string>uniqueBulletShade</string>
	<key>signatureThanTemple</key>
	<string>spritePhaseName</string>
</dict>
</plist>
