<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryOutsideSystem</key>
	<string>specifyTimerDepth</string>
	<key>observerAdapterOrigin</key>
	<string>autoOverlayStyle</string>
	<key>offsetFlyweightMomentum</key>
	<string>crucialSwitchValidation</string>
	<key>permanentBuilderIndex</key>
	<string>dedicatedWidgetDensity</string>
	<key>precisionAboutFlyweight</key>
	<string>substantialStatefulOpacity</string>
	<key>prevRowSpeed</key>
	<string>positionByAction</string>
	<key>primaryBitrateTail</key>
	<string>textAgainstWork</string>
	<key>screenViaPrototype</key>
	<string>statelessCellOpacity</string>
</dict>
</plist>
