<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awaitWithPhase</key>
	<string>radiusAroundStructure</string>
	<key>basicParticleBorder</key>
	<string>euclideanIntensityResponse</string>
	<key>dialogsInsideSingleton</key>
	<string>certificateFormPressure</string>
	<key>displayableContainerBrightness</key>
	<string>routerObserverRotation</string>
	<key>firstRowAppearance</key>
	<string>metadataAroundMemento</string>
	<key>mediaqueryAroundParam</key>
	<string>cartesianConsumerMargin</string>
	<key>navigatorAmongStrategy</key>
	<string>tableMementoValidation</string>
	<key>profileBesideObserver</key>
	<string>offsetTempleSize</string>
	<key>rowNearPrototype</key>
	<string>completerLikePlatform</string>
	<key>usedIntensityTint</key>
	<string>webChapterCenter</string>
</dict>
</plist>
