<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicChartTag</key>
	<string>segmentShapeLocation</string>
	<key>firstTimerBehavior</key>
	<string>delicateTopicColor</string>
	<key>grainPatternFeedback</key>
	<string>staticWidgetCount</string>
	<key>graphThanObserver</key>
	<string>alignmentFlyweightDensity</string>
	<key>intermediateGateHue</key>
	<string>transitionThroughDecorator</string>
	<key>iterativeTableTransparency</key>
	<string>getxDecoratorVelocity</string>
	<key>lazyControllerMargin</key>
	<string>displayableViewCenter</string>
	<key>modelVarKind</key>
	<string>protectedPriorityInterval</string>
	<key>navigatorShapeType</key>
	<string>sizedboxStyleResponse</string>
	<key>textVisitorPressure</key>
	<string>menuJobStatus</string>
</dict>
</plist>
