<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>draggableAnimationFeedback</key>
	<string>builderAroundAction</string>
	<key>hardStateTint</key>
	<string>offsetActionSaturation</string>
	<key>stateStrategyTheme</key>
	<string>taskThanFunction</string>
	<key>tabviewStageVelocity</key>
	<string>indicatorScopeDuration</string>
</dict>
</plist>
