<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedSubpixelVisibility</key>
	<string>animatedInterfaceCoord</string>
	<key>builderFrameworkVelocity</key>
	<string>injectionUntilMediator</string>
	<key>contractionFromObserver</key>
	<string>primaryGraphicMode</string>
	<key>decorationDecoratorHead</key>
	<string>commonTopicTop</string>
	<key>effectStateTail</key>
	<string>delegateOfAdapter</string>
	<key>entityStateFeedback</key>
	<string>mediaqueryBeyondTask</string>
	<key>pinchableSingletonHue</key>
	<string>explicitDelegateVelocity</string>
	<key>singletonLevelTail</key>
	<string>bulletMethodTension</string>
	<key>streamValueVelocity</key>
	<string>decorationObserverBrightness</string>
</dict>
</plist>
