<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationFlyweightContrast</key>
	<string>mediocreOperationKind</string>
	<key>arithmeticFlexDelay</key>
	<string>activatedApertureFeedback</string>
	<key>crudeNotifierDepth</key>
	<string>activeGroupAlignment</string>
	<key>desktopSizedboxAcceleration</key>
	<string>scaleOfStrategy</string>
	<key>navigatorModeTint</key>
	<string>effectAroundPrototype</string>
	<key>playbackInActivity</key>
	<string>capacitiesCycleSpeed</string>
	<key>respectiveControllerEdge</key>
	<string>swiftBufferMomentum</string>
	<key>specifierAwayParam</key>
	<string>spotMementoFlags</string>
</dict>
</plist>
