<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>eventActivityColor</key>
	<string>denseUtilScale</string>
	<key>hashStateCount</key>
	<string>channelPatternSkewy</string>
	<key>lastVectorDelay</key>
	<string>metadataSingletonInteraction</string>
	<key>particleParamBrightness</key>
	<string>queueStyleVisibility</string>
	<key>signBesideCommand</key>
	<string>ephemeralFrameResponse</string>
	<key>sliderVisitorVelocity</key>
	<string>ternaryAdapterTheme</string>
</dict>
</plist>
