<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>entropyAdapterCoord</key>
	<string>progressbarAtProcess</string>
	<key>mapVarBehavior</key>
	<string>channelsAgainstMethod</string>
	<key>methodBesideValue</key>
	<string>vectorStructureFlags</string>
	<key>otherCursorSkewx</key>
	<string>protectedFragmentVisibility</string>
	<key>reducerInActivity</key>
	<string>errorOfProxy</string>
	<key>resourceUntilDecorator</key>
	<string>standaloneTaskTension</string>
	<key>subsequentTitlePressure</key>
	<string>usedResourceOrientation</string>
</dict>
</plist>
