<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicCompleterDistance</key>
	<string>constraintAdapterPressure</string>
	<key>batchOperationFormat</key>
	<string>fragmentStructureStyle</string>
	<key>boxshadowPatternDensity</key>
	<string>customizedCubitRight</string>
	<key>elasticMaterialLocation</key>
	<string>discardedGridDuration</string>
	<key>exponentMementoVisibility</key>
	<string>cacheForPhase</string>
	<key>gridviewIncludeCommand</key>
	<string>liteCapsuleLeft</string>
	<key>intuitiveLabelSkewy</key>
	<string>mediocreLocalizationType</string>
	<key>textOutsideVisitor</key>
	<string>transitionNumberPadding</string>
</dict>
</plist>
