<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>captionAroundLevel</key>
	<string>cupertinoPhaseEdge</string>
	<key>completerFrameworkOffset</key>
	<string>presenterSystemTag</string>
	<key>hierarchicalLabelRotation</key>
	<string>channelVersusState</string>
	<key>interpolationBesideLevel</key>
	<string>spotKindMode</string>
	<key>labelLikeTemple</key>
	<string>concurrentGestureMode</string>
	<key>loopWithJob</key>
	<string>temporaryNibAppearance</string>
	<key>prismaticGiftKind</key>
	<string>scaffoldScopeInteraction</string>
	<key>radiusParamForce</key>
	<string>boxshadowObserverEdge</string>
	<key>tickerByVisitor</key>
	<string>cosineUntilFlyweight</string>
	<key>webModelInterval</key>
	<string>rowForVar</string>
</dict>
</plist>
