<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertFormColor</key>
	<string>dependencyOrVar</string>
	<key>animatedTweenDuration</key>
	<string>resourceStageTension</string>
	<key>futureFunctionBehavior</key>
	<string>storeUntilProxy</string>
	<key>progressbarObserverStatus</key>
	<string>commandOfStage</string>
	<key>routeSystemFrequency</key>
	<string>marginTaskSpeed</string>
</dict>
</plist>
