<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>checkboxLikeWork</key>
	<string>featureBesideStructure</string>
	<key>draggableDependencyFeedback</key>
	<string>parallelTextureFormat</string>
	<key>liteDurationMomentum</key>
	<string>oldAlertColor</string>
	<key>sustainableVectorOrientation</key>
	<string>sequentialEquipmentColor</string>
	<key>taskAtOperation</key>
	<string>vectorProcessHue</string>
</dict>
</plist>
