<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentCompositeBehavior</key>
	<string>layoutVarTag</string>
	<key>bulletDespiteTask</key>
	<string>animatedcontainerByWork</string>
	<key>chartObserverBottom</key>
	<string>customMatrixBehavior</string>
	<key>customizedRadiusLocation</key>
	<string>tensorSampleHue</string>
	<key>semanticEqualizationShade</key>
	<string>techniqueProcessEdge</string>
</dict>
</plist>
