<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectratioAboutBridge</key>
	<string>animatedResourceSpacing</string>
	<key>durationExceptShape</key>
	<string>hashBesidePlatform</string>
	<key>featurePrototypeColor</key>
	<string>functionalSlashMargin</string>
	<key>injectionModeValidation</key>
	<string>dedicatedMethodBound</string>
	<key>profileViaTemple</key>
	<string>consumerActionSkewx</string>
	<key>queueFacadeName</key>
	<string>responsiveRouterOffset</string>
	<key>radiusSinceSystem</key>
	<string>semanticTransitionSize</string>
	<key>resourceFromDecorator</key>
	<string>webSliderInset</string>
	<key>storeAboutPrototype</key>
	<string>cubeFrameworkShade</string>
	<key>transformerEnvironmentTail</key>
	<string>catalystTempleBorder</string>
</dict>
</plist>
