<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonCompositeInset</key>
	<string>numericalInterfaceAcceleration</string>
	<key>chapterAboutContext</key>
	<string>eventSingletonInset</string>
	<key>customizedTimerResponse</key>
	<string>mainSwitchInset</string>
	<key>invisibleCompositionSkewy</key>
	<string>riverpodOrTier</string>
	<key>sophisticatedChartShape</key>
	<string>apertureScopeContrast</string>
	<key>tickerShapeSpacing</key>
	<string>sceneStateSpeed</string>
</dict>
</plist>
