<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentSingletonStatus</key>
	<string>localStateState</string>
	<key>backwardSessionCoord</key>
	<string>directlyContainerState</string>
	<key>composableConfigurationTint</key>
	<string>notificationInValue</string>
	<key>customizedCurveCount</key>
	<string>typicalHandlerTag</string>
	<key>delicateNotificationFeedback</key>
	<string>compositionalChecklistFormat</string>
	<key>ignoredDependencyDistance</key>
	<string>retainedCupertinoBottom</string>
	<key>storeContainPlatform</key>
	<string>mediaqueryUntilTemple</string>
	<key>tabbarThroughParameter</key>
	<string>permanentBehaviorScale</string>
	<key>textAroundParameter</key>
	<string>shaderFrameworkTheme</string>
</dict>
</plist>
