<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gateContextContrast</key>
	<string>hardStepInterval</string>
	<key>resilientCaptionForce</key>
	<string>imperativeAsyncAcceleration</string>
	<key>storyboardOperationStatus</key>
	<string>popupAsValue</string>
	<key>streamFlyweightName</key>
	<string>delegateOperationFlags</string>
	<key>symmetricCallbackOpacity</key>
	<string>buttonStyleKind</string>
	<key>tableContainMode</key>
	<string>diffableBuilderResponse</string>
</dict>
</plist>
