<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetVersusObserver</key>
	<string>batchProcessScale</string>
	<key>associatedMatrixContrast</key>
	<string>progressbarTempleMomentum</string>
	<key>exceptionChainState</key>
	<string>lazyDurationPressure</string>
	<key>subscriptionDuringDecorator</key>
	<string>rapidPainterPosition</string>
</dict>
</plist>
