<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cardSystemIndex</key>
	<string>dropdownbuttonStructureDistance</string>
	<key>constTextureAcceleration</key>
	<string>scaleAlongMediator</string>
	<key>decorationPhaseFormat</key>
	<string>parallelPresenterContrast</string>
</dict>
</plist>
