<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetViaProcess</key>
	<string>webCapacitiesFeedback</string>
	<key>bulletAndProcess</key>
	<string>visibleProgressbarBrightness</string>
	<key>disparateGroupBottom</key>
	<string>adaptiveBoxVisible</string>
	<key>finalIndicatorTop</key>
	<string>durationTempleDuration</string>
	<key>fusedGradientBehavior</key>
	<string>retainedLocalizationPadding</string>
	<key>missedAnimationAcceleration</key>
	<string>pivotalThemeColor</string>
</dict>
</plist>
