<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryWithoutParam</key>
	<string>masterTierTail</string>
	<key>activeCoordinatorRotation</key>
	<string>advancedMatrixTag</string>
	<key>crucialFragmentShape</key>
	<string>commonIsolateSkewy</string>
	<key>globalGridFlags</key>
	<string>elasticLoopPressure</string>
	<key>immutableSineContrast</key>
	<string>fixedSessionDuration</string>
</dict>
</plist>
