<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentChainRight</key>
	<string>ternaryOutsideType</string>
	<key>apertureCommandTail</key>
	<string>controllerAlongType</string>
	<key>capsuleAgainstAdapter</key>
	<string>asyncAtProcess</string>
	<key>eagerRadiusIndex</key>
	<string>retainedRemainderHue</string>
	<key>interactorAroundFunction</key>
	<string>curveShapeTag</string>
	<key>pageviewFromTier</key>
	<string>navigatorBesideNumber</string>
	<key>tabviewAmongType</key>
	<string>gridviewInFramework</string>
</dict>
</plist>
