<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>iconOrCycle</key>
	<string>greatChapterEdge</string>
	<key>matrixMethodType</key>
	<string>interpolationAroundBuffer</string>
	<key>routerFlyweightOrientation</key>
	<string>constraintDecoratorContrast</string>
	<key>semanticsWithStrategy</key>
	<string>dedicatedDescriptionVelocity</string>
</dict>
</plist>
