<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectratioFrameworkInterval</key>
	<string>taskModeSkewx</string>
	<key>curveVisitorBorder</key>
	<string>listenerAgainstVar</string>
	<key>directObserverOpacity</key>
	<string>responsiveStreamBrightness</string>
	<key>flexValuePadding</key>
	<string>customManagerRate</string>
	<key>globalCubitOpacity</key>
	<string>materialDocumentSpeed</string>
	<key>ignoredGemAlignment</key>
	<string>imageVariableVelocity</string>
	<key>routerMementoEdge</key>
	<string>easyDecorationTransparency</string>
	<key>sophisticatedObserverFeedback</key>
	<string>controllerAgainstVar</string>
	<key>sustainableStorageIndex</key>
	<string>prevChapterAppearance</string>
	<key>usageCommandFlags</key>
	<string>comprehensiveStatelessMomentum</string>
</dict>
</plist>
