<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>binaryOrMethod</key>
	<string>sizeBeyondLayer</string>
	<key>localCanvasType</key>
	<string>finalProjectAlignment</string>
	<key>rapidSceneRotation</key>
	<string>signatureMementoBorder</string>
	<key>scaffoldIncludeCommand</key>
	<string>resultPatternDistance</string>
	<key>uniformCoordinatorName</key>
	<string>modelObserverFrequency</string>
</dict>
</plist>
