<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>borderFacadeForce</key>
	<string>roleOfAction</string>
	<key>captionAsParameter</key>
	<string>transformerObserverAcceleration</string>
	<key>clipperLayerTransparency</key>
	<string>errorLevelKind</string>
	<key>iterativeClipperTransparency</key>
	<string>gridValueAlignment</string>
	<key>missionCommandStatus</key>
	<string>presenterAndParameter</string>
	<key>profileProcessVisibility</key>
	<string>spriteTempleEdge</string>
	<key>richtextJobTransparency</key>
	<string>specifyChallengeOffset</string>
	<key>scaleTierSkewy</key>
	<string>smallTopicName</string>
	<key>sliderPerSystem</key>
	<string>statefulRequestCenter</string>
	<key>transformerProcessTension</key>
	<string>asyncAnimatedcontainerTheme</string>
</dict>
</plist>
