<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>effectPerLayer</key>
	<string>reusableDecorationStyle</string>
	<key>featureCycleTag</key>
	<string>finalProjectMomentum</string>
	<key>gridviewCompositePressure</key>
	<string>comprehensiveErrorSkewx</string>
	<key>liteSpotOffset</key>
	<string>secondConvolutionResponse</string>
	<key>marginFunctionTop</key>
	<string>elasticTopicValidation</string>
	<key>priorModelForce</key>
	<string>rowAlongPlatform</string>
	<key>sliderThanProxy</key>
	<string>draggableQueueAlignment</string>
	<key>subsequentToolSpacing</key>
	<string>multiplicationThanVariable</string>
	<key>synchronousStackName</key>
	<string>hashViaLevel</string>
</dict>
</plist>
