<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedCubitKind</key>
	<string>semanticAnimationTint</string>
	<key>bufferActivityKind</key>
	<string>backwardHandlerTheme</string>
	<key>containerOfShape</key>
	<string>signatureJobDuration</string>
	<key>convolutionNearParameter</key>
	<string>boxFormBottom</string>
	<key>largeBuilderStatus</key>
	<string>equalizationSinceTemple</string>
	<key>localizationUntilForm</key>
	<string>iconLayerFeedback</string>
	<key>resilientMissionDistance</key>
	<string>interactorFrameworkTop</string>
	<key>specifierTypeFormat</key>
	<string>logarithmOfMediator</string>
	<key>toolAwayVar</key>
	<string>descriptionTypeMomentum</string>
	<key>vectorStateColor</key>
	<string>referenceTaskPosition</string>
</dict>
</plist>
