<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterInsideVisitor</key>
	<string>materialSessionInset</string>
	<key>commonThemeBorder</key>
	<string>effectThroughPlatform</string>
	<key>delegateAdapterHue</key>
	<string>positionOperationValidation</string>
	<key>imperativeServiceValidation</key>
	<string>textureAndCommand</string>
	<key>menuForMemento</key>
	<string>reactiveSliderAlignment</string>
	<key>providerObserverDelay</key>
	<string>immediateAsyncMomentum</string>
</dict>
</plist>
