<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorVarDuration</key>
	<string>inactiveGridTint</string>
	<key>comprehensivePrecisionSpacing</key>
	<string>baselineLayerLeft</string>
	<key>deferredBatchStatus</key>
	<string>sizedboxSinceShape</string>
	<key>easyBatchValidation</key>
	<string>storageMethodDensity</string>
	<key>movementWithInterpreter</key>
	<string>iterativeCoordinatorValidation</string>
	<key>roleNumberSkewy</key>
	<string>widgetOperationStyle</string>
	<key>textureMethodAlignment</key>
	<string>viewOutsideMediator</string>
	<key>webEventDuration</key>
	<string>staticEquipmentSkewx</string>
</dict>
</plist>
