<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bulletBeyondVariable</key>
	<string>cosineByKind</string>
	<key>configurationPerKind</key>
	<string>referenceCycleStatus</string>
	<key>diffableSpineDistance</key>
	<string>certificateLevelFlags</string>
	<key>labelThanLevel</key>
	<string>intermediateFeatureBrightness</string>
	<key>largeProfileBottom</key>
	<string>memberCommandEdge</string>
	<key>numericalSliderSize</key>
	<string>completerOutsideMethod</string>
	<key>variantOutsideInterpreter</key>
	<string>transformerAtForm</string>
</dict>
</plist>
