<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commandInFunction</key>
	<string>exceptionLayerInterval</string>
	<key>otherAsyncFormat</key>
	<string>cursorOutsideMemento</string>
	<key>semanticCommandAlignment</key>
	<string>animatedcontainerAdapterFrequency</string>
</dict>
</plist>
