<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bulletCompositeTop</key>
	<string>skinInEnvironment</string>
	<key>durationNearComposite</key>
	<string>timerUntilShape</string>
	<key>grayscaleCompositeDuration</key>
	<string>multiAppbarDirection</string>
	<key>hashOfNumber</key>
	<string>streamThroughForm</string>
	<key>inactiveMemberStyle</key>
	<string>loopPlatformPadding</string>
	<key>loopProcessIndex</key>
	<string>assetSystemHead</string>
	<key>presenterAwayStage</key>
	<string>aspectStyleShade</string>
	<key>semanticQueryBorder</key>
	<string>protocolAsInterpreter</string>
	<key>sizePhaseHue</key>
	<string>nextTableOrigin</string>
</dict>
</plist>
