<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleSpotKind</key>
	<string>subsequentProviderInteraction</string>
	<key>momentumThroughObserver</key>
	<string>dedicatedEffectInterval</string>
	<key>offsetEnvironmentShape</key>
	<string>protectedFutureCenter</string>
	<key>opaqueCallbackOrigin</key>
	<string>sceneUntilNumber</string>
	<key>rectPhaseInterval</key>
	<string>tweenProcessIndex</string>
	<key>responsiveSingletonTint</key>
	<string>channelLayerHead</string>
	<key>sharedMediaDelay</key>
	<string>reductionPlatformSkewx</string>
	<key>titleStatePadding</key>
	<string>gateOrVar</string>
	<key>zoneInParam</key>
	<string>tickerSystemStyle</string>
</dict>
</plist>
