<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorWithFlyweight</key>
	<string>fusedConvolutionPadding</string>
	<key>expandedAroundContext</key>
	<string>animatedScaleForce</string>
	<key>factorySystemDensity</key>
	<string>explicitGestureResponse</string>
	<key>musicAmongScope</key>
	<string>bitrateOutsideFlyweight</string>
</dict>
</plist>
