<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryTaskMode</key>
	<string>utilThroughMethod</string>
	<key>animatedcontainerInAdapter</key>
	<string>batchDuringBuffer</string>
	<key>documentMediatorDepth</key>
	<string>gridCommandPosition</string>
	<key>marginNearWork</key>
	<string>reducerAlongType</string>
	<key>mobileProviderDistance</key>
	<string>commandProxyTransparency</string>
	<key>nibCommandScale</key>
	<string>staticTweenTag</string>
	<key>radiusForProcess</key>
	<string>tableSingletonIndex</string>
	<key>spineParamContrast</key>
	<string>progressbarChainFeedback</string>
	<key>topicVariableSpeed</key>
	<string>flexSinceAdapter</string>
	<key>zoneAroundProcess</key>
	<string>enabledSizeShade</string>
</dict>
</plist>
