<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorAmongBridge</key>
	<string>rowAndTemple</string>
	<key>bitrateOfStage</key>
	<string>toolWithoutNumber</string>
	<key>captionBufferFrequency</key>
	<string>prismaticDecorationInterval</string>
	<key>cupertinoPresenterLocation</key>
	<string>resizableOperationIndex</string>
	<key>explicitBlocTension</key>
	<string>opaqueInterpolationCoord</string>
	<key>instructionPatternName</key>
	<string>borderPatternInset</string>
	<key>localTransformerFrequency</key>
	<string>cupertinoCoordinatorMode</string>
	<key>modelThanTemple</key>
	<string>popupBeyondChain</string>
	<key>smartGraphicFlags</key>
	<string>entityOfObserver</string>
	<key>taskSinceTask</key>
	<string>easyGrainVisible</string>
</dict>
</plist>
