<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>listenerEnvironmentContrast</key>
	<string>viewAwayWork</string>
	<key>mobileMementoResponse</key>
	<string>roleProcessTop</string>
	<key>respectiveAllocatorTension</key>
	<string>giftFormPadding</string>
	<key>routeShapeSkewx</key>
	<string>normalRectTop</string>
</dict>
</plist>
