<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>callbackStyleVelocity</key>
	<string>offsetPhaseCoord</string>
	<key>gradientDespiteCycle</key>
	<string>featureByTemple</string>
	<key>groupExceptTask</key>
	<string>decorationPhaseTop</string>
	<key>logJobAppearance</key>
	<string>declarativeExponentFeedback</string>
	<key>newestChecklistLeft</key>
	<string>keyDropdownbuttonVisibility</string>
	<key>painterAgainstCycle</key>
	<string>pinchableConsumerAppearance</string>
	<key>queueChainScale</key>
	<string>customizedBufferDensity</string>
	<key>serviceFacadeDelay</key>
	<string>methodPrototypeScale</string>
	<key>storagePrototypeDepth</key>
	<string>flexiblePreviewLeft</string>
</dict>
</plist>
