<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>behaviorParameterHead</key>
	<string>offsetProcessInteraction</string>
	<key>completionAtStrategy</key>
	<string>compositionMediatorTag</string>
	<key>discardedInteractorTop</key>
	<string>cosineVisitorRight</string>
	<key>gridShapeAppearance</key>
	<string>geometricConstraintPressure</string>
	<key>localConfigurationLeft</key>
	<string>accordionMapDelay</string>
	<key>sampleVarBorder</key>
	<string>numericalCoordinatorKind</string>
	<key>smallStoreDirection</key>
	<string>intensityScopeSaturation</string>
</dict>
</plist>
