<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubeShapePressure</key>
	<string>transformerVersusScope</string>
	<key>firstRectTop</key>
	<string>uniformHashFormat</string>
	<key>lastProviderBorder</key>
	<string>missedSliderDistance</string>
	<key>playbackFrameworkSkewx</key>
	<string>basicPresenterHue</string>
	<key>segmentMementoTheme</key>
	<string>originalExtensionAcceleration</string>
	<key>subscriptionFunctionBrightness</key>
	<string>routerUntilParameter</string>
</dict>
</plist>
