<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerAboutFramework</key>
	<string>containerContainShape</string>
	<key>aspectLikeScope</key>
	<string>sampleModeTension</string>
	<key>borderContextDepth</key>
	<string>disabledCommandAlignment</string>
	<key>positionForStructure</key>
	<string>cycleDuringAdapter</string>
	<key>queryActionState</key>
	<string>menuModeState</string>
	<key>respectiveActionAlignment</key>
	<string>serviceForState</string>
	<key>semanticsFromCycle</key>
	<string>robustEquipmentTint</string>
	<key>shaderAtShape</key>
	<string>isolateFromKind</string>
	<key>staticResourceVisibility</key>
	<string>prevStateVisibility</string>
	<key>tableVariableInset</key>
	<string>pageviewKindSaturation</string>
</dict>
</plist>
