<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activityBridgeAppearance</key>
	<string>ignoredTitleTension</string>
	<key>arithmeticRouteLeft</key>
	<string>mediaByState</string>
	<key>bufferBesidePrototype</key>
	<string>channelsBufferType</string>
	<key>compositionStyleBottom</key>
	<string>axisFrameworkVelocity</string>
	<key>configurationFunctionFrequency</key>
	<string>grainKindColor</string>
	<key>explicitChapterFormat</key>
	<string>consumerInsideChain</string>
	<key>overlayMementoBound</key>
	<string>giftAtOperation</string>
	<key>synchronousReducerSkewx</key>
	<string>resourceDespiteInterpreter</string>
	<key>uniqueTextureType</key>
	<string>collectionFromMethod</string>
	<key>utilBeyondMethod</key>
	<string>vectorPatternFlags</string>
</dict>
</plist>
