<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderOutsideForm</key>
	<string>modelAtJob</string>
	<key>disabledDrawerValidation</key>
	<string>hashFormLeft</string>
	<key>fragmentWithoutVar</key>
	<string>certificateOfStage</string>
	<key>injectionUntilProcess</key>
	<string>overlayVariableDistance</string>
	<key>painterPatternAcceleration</key>
	<string>largeChartRate</string>
	<key>popupObserverInset</key>
	<string>uniformStreamSpeed</string>
	<key>sharedTaskIndex</key>
	<string>popupWithVariable</string>
	<key>sinkPlatformOrientation</key>
	<string>sophisticatedBaselineCoord</string>
	<key>unaryAboutMediator</key>
	<string>functionalExtensionSpacing</string>
</dict>
</plist>
