<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>controllerModeShape</key>
	<string>resultExceptSingleton</string>
	<key>directCurveCoord</key>
	<string>discardedSingletonFormat</string>
	<key>loopInsideTemple</key>
	<string>zoneDespiteInterpreter</string>
	<key>modulusAmongFunction</key>
	<string>repositoryContainAdapter</string>
	<key>requiredBitrateName</key>
	<string>blocFromPlatform</string>
</dict>
</plist>
