<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphaProxyAppearance</key>
	<string>handlerVersusLayer</string>
	<key>cacheVariableVisible</key>
	<string>layoutStageShade</string>
	<key>compositionalConstraintStyle</key>
	<string>prevSegueRight</string>
	<key>constCollectionOffset</key>
	<string>persistentUsageLeft</string>
	<key>futureJobOrigin</key>
	<string>effectExceptTemple</string>
	<key>kernelNearMemento</key>
	<string>animatedLayerEdge</string>
	<key>movementFunctionRate</key>
	<string>specifierAboutCycle</string>
	<key>pageviewDespiteStructure</key>
	<string>taskTypeDuration</string>
</dict>
</plist>
