<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationCompositeVelocity</key>
	<string>queryPerBuffer</string>
	<key>asyncObserverAcceleration</key>
	<string>actionModeScale</string>
	<key>awaitOutsideTemple</key>
	<string>errorSingletonSaturation</string>
	<key>canvasPatternValidation</key>
	<string>retainedTernaryLeft</string>
	<key>listenerProcessIndex</key>
	<string>sliderModeColor</string>
	<key>monsterDecoratorBottom</key>
	<string>usedConvolutionDepth</string>
	<key>semanticsVisitorVisible</key>
	<string>positionStylePadding</string>
	<key>ternaryDespiteState</key>
	<string>taskAndPattern</string>
</dict>
</plist>
