<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelOrKind</key>
	<string>animationStateOffset</string>
	<key>durationObserverFormat</key>
	<string>equipmentThanNumber</string>
	<key>ephemeralMultiplicationSkewy</key>
	<string>otherInterpolationKind</string>
	<key>interfaceAwayVariable</key>
	<string>getxThanInterpreter</string>
	<key>liteMetadataShade</key>
	<string>concreteRectBottom</string>
	<key>textureContainFacade</key>
	<string>descriptionOutsideStyle</string>
</dict>
</plist>
