<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appbarStylePressure</key>
	<string>presenterOutsideStrategy</string>
	<key>buttonOrScope</key>
	<string>transitionInterpreterDirection</string>
	<key>checklistByWork</key>
	<string>tangentContainProxy</string>
	<key>draggableTabbarTail</key>
	<string>otherBitrateValidation</string>
	<key>effectThroughMemento</key>
	<string>borderBridgeMode</string>
	<key>granularMovementTension</key>
	<string>mainViewTransparency</string>
	<key>invisibleCosineLocation</key>
	<string>featureOrScope</string>
	<key>labelUntilFacade</key>
	<string>concurrentCardVisible</string>
	<key>layoutParameterVisible</key>
	<string>staticAssetType</string>
	<key>sliderEnvironmentRight</key>
	<string>menuForProxy</string>
</dict>
</plist>
