<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubeDecoratorShape</key>
	<string>smallMissionOffset</string>
	<key>decorationOfTask</key>
	<string>checkboxPerFramework</string>
	<key>marginSinceScope</key>
	<string>channelPerVariable</string>
	<key>mediaqueryFormDuration</key>
	<string>diffableVectorCount</string>
	<key>missionLevelSaturation</key>
	<string>compositionAlongCycle</string>
	<key>navigatorWithVar</key>
	<string>symbolPrototypeLocation</string>
	<key>textfieldFacadeTail</key>
	<string>criticalLossName</string>
</dict>
</plist>
