<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>borderObserverRotation</key>
	<string>builderWithCycle</string>
	<key>entropyByEnvironment</key>
	<string>declarativeExpandedVisibility</string>
	<key>robustTimerCoord</key>
	<string>activatedScaleOffset</string>
	<key>sortedGroupForce</key>
	<string>buttonStrategyInteraction</string>
	<key>subscriptionFacadeOpacity</key>
	<string>managerVariableSkewx</string>
</dict>
</plist>
