<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>documentPatternStyle</key>
	<string>mediocreDropdownbuttonMode</string>
	<key>draggablePainterTag</key>
	<string>pinchableGraphHead</string>
	<key>slashKindIndex</key>
	<string>curveBridgeBound</string>
	<key>sliderOrVar</key>
	<string>decorationActionRight</string>
	<key>subtleSineInterval</key>
	<string>methodPhaseTop</string>
	<key>zoneWithPrototype</key>
	<string>stateDecoratorFeedback</string>
</dict>
</plist>
