<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedRowForce</key>
	<string>completerVisitorLocation</string>
	<key>animationTypeBorder</key>
	<string>textStrategyLocation</string>
	<key>chartOutsideType</key>
	<string>dropdownbuttonTypeScale</string>
	<key>delegateAndFunction</key>
	<string>serviceKindContrast</string>
	<key>featureAndBridge</key>
	<string>awaitDuringCycle</string>
	<key>flexibleStoragePressure</key>
	<string>reducerParameterMode</string>
	<key>modulusBesideShape</key>
	<string>statefulInsideStrategy</string>
	<key>timerBeyondMethod</key>
	<string>repositoryThanSystem</string>
	<key>usageForParameter</key>
	<string>prismaticTweenBehavior</string>
	<key>zoneFrameworkFrequency</key>
	<string>providerNumberCenter</string>
</dict>
</plist>
