<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appbarDecoratorLeft</key>
	<string>heroSinceJob</string>
	<key>frameThanChain</key>
	<string>animatedControllerOrigin</string>
	<key>graphicUntilAdapter</key>
	<string>observerForVisitor</string>
	<key>histogramPlatformBound</key>
	<string>exceptionBeyondTask</string>
	<key>largeDelegateFormat</key>
	<string>instructionLikeShape</string>
	<key>layoutVarEdge</key>
	<string>modelProcessAcceleration</string>
	<key>numericalPrecisionAppearance</key>
	<string>cardMediatorPressure</string>
	<key>textAboutCommand</key>
	<string>draggableMovementSkewx</string>
	<key>transitionCommandBehavior</key>
	<string>rowAdapterBrightness</string>
</dict>
</plist>
