<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>optimizerBridgeRight</key>
	<string>actionCycleTint</string>
	<key>scrollableSkinSize</key>
	<string>coordinatorActionType</string>
	<key>tensorControllerHue</key>
	<string>layerOrParameter</string>
</dict>
</plist>
