<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consultativePainterType</key>
	<string>specifierContainStyle</string>
	<key>delicatePopupKind</key>
	<string>sceneThanTemple</string>
	<key>dynamicTransformerDensity</key>
	<string>uniformProviderOrientation</string>
	<key>euclideanExponentFlags</key>
	<string>interactorStrategyTail</string>
	<key>groupWithBridge</key>
	<string>menuNearFunction</string>
	<key>menuAroundValue</key>
	<string>sophisticatedCallbackBrightness</string>
</dict>
</plist>
