<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>numericalSizeType</key>
	<string>queryNearFacade</string>
	<key>requiredInteractorInset</key>
	<string>crudeCustompaintStyle</string>
	<key>sophisticatedMemberContrast</key>
	<string>decorationJobTension</string>
	<key>subscriptionInsideAction</key>
	<string>resolverUntilSystem</string>
	<key>workflowObserverVisibility</key>
	<string>queryLikeParameter</string>
</dict>
</plist>
