<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticOfContext</key>
	<string>awaitDecoratorTop</string>
	<key>arithmeticVariableDepth</key>
	<string>tabbarJobInterval</string>
	<key>disabledSizedboxIndex</key>
	<string>actionAndCommand</string>
	<key>heroMethodTension</key>
	<string>compositionalAspectState</string>
	<key>imageWithoutVar</key>
	<string>listenerStateCenter</string>
	<key>modalTypeBehavior</key>
	<string>alignmentModeHue</string>
	<key>streamTaskRate</key>
	<string>zoneThroughPattern</string>
</dict>
</plist>
