<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxContainKind</key>
	<string>directlyAppbarFormat</string>
	<key>curveWithNumber</key>
	<string>nativeSkinValidation</string>
	<key>diffableObserverOrigin</key>
	<string>granularPositionVisible</string>
	<key>relationalLayoutSkewy</key>
	<string>topicViaPhase</string>
	<key>routeJobPadding</key>
	<string>retainedProviderIndex</string>
	<key>sceneSinceActivity</key>
	<string>criticalConstraintOrientation</string>
	<key>synchronousObserverStatus</key>
	<string>precisionDuringAction</string>
</dict>
</plist>
