<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>axisSingletonShade</key>
	<string>tappableTickerDepth</string>
	<key>consumerUntilLevel</key>
	<string>radioFunctionScale</string>
	<key>deferredMusicHue</key>
	<string>metadataDecoratorEdge</string>
	<key>gateExceptChain</key>
	<string>loopDuringTask</string>
	<key>grayscaleProxyDelay</key>
	<string>immutableStatelessDensity</string>
	<key>hyperbolicStepSkewy</key>
	<string>progressbarCommandShade</string>
	<key>modelStyleLeft</key>
	<string>gradientChainBottom</string>
	<key>providerAwayBridge</key>
	<string>containerCycleIndex</string>
</dict>
</plist>
