<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baselineMethodBrightness</key>
	<string>accordionTouchRate</string>
	<key>canvasParameterFormat</key>
	<string>repositoryViaFramework</string>
	<key>overlayThanLayer</key>
	<string>metadataChainContrast</string>
	<key>zoneUntilObserver</key>
	<string>nodeAsChain</string>
</dict>
</plist>
