<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>descriptionPrototypeAlignment</key>
	<string>statefulChainSpacing</string>
	<key>dialogsParameterBehavior</key>
	<string>unsortedUsecaseSpacing</string>
	<key>geometricAspectInteraction</key>
	<string>bulletObserverScale</string>
	<key>mainMethodTail</key>
	<string>usageDuringKind</string>
	<key>pointJobShade</key>
	<string>originalControllerOffset</string>
</dict>
</plist>
