<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertMementoRight</key>
	<string>customizedGramState</string>
	<key>builderForCycle</key>
	<string>sineEnvironmentMomentum</string>
	<key>containerWithoutScope</key>
	<string>immutableLayerTop</string>
	<key>cubeStageShape</key>
	<string>responsiveRoleKind</string>
	<key>exceptionPlatformDensity</key>
	<string>sinkFormStyle</string>
	<key>mutableImageInteraction</key>
	<string>robustBoxPosition</string>
	<key>notificationShapeScale</key>
	<string>interactorBufferFlags</string>
	<key>resultFacadeRight</key>
	<string>transitionDespitePattern</string>
	<key>routerCompositeAlignment</key>
	<string>boxshadowWithAction</string>
	<key>subpixelLikeEnvironment</key>
	<string>significantConsumerTransparency</string>
</dict>
</plist>
