<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>eventInsideSingleton</key>
	<string>bitrateMethodTail</string>
	<key>playbackOfForm</key>
	<string>modalExceptChain</string>
	<key>radiusJobAppearance</key>
	<string>synchronousHandlerFrequency</string>
	<key>radiusThroughActivity</key>
	<string>operationIncludeCommand</string>
	<key>remainderProxyCount</key>
	<string>semanticLabelIndex</string>
</dict>
</plist>
