<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>callbackPrototypeBorder</key>
	<string>mediocreToolTransparency</string>
	<key>delegateFunctionBound</key>
	<string>draggableTitleVelocity</string>
	<key>injectionModeDistance</key>
	<string>allocatorFormDistance</string>
	<key>movementThanFlyweight</key>
	<string>buttonContextBottom</string>
	<key>priorityNumberShape</key>
	<string>intensityFunctionPressure</string>
	<key>resourceStrategyTint</key>
	<string>flexSinceMediator</string>
	<key>rowSinceSystem</key>
	<string>signatureShapePosition</string>
	<key>storyboardTaskBound</key>
	<string>notifierLayerFlags</string>
	<key>taskDespiteLevel</key>
	<string>pinchableLayerPadding</string>
	<key>toolDespiteVar</key>
	<string>anchorThroughPhase</string>
</dict>
</plist>
