<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncSkirtType</key>
	<string>textfieldAlongVariable</string>
	<key>intensityTempleSpacing</key>
	<string>presenterTierShape</string>
	<key>mutableTernaryVisible</key>
	<string>sceneForBridge</string>
	<key>queryStageMode</key>
	<string>interactorActionStyle</string>
	<key>resourceContainAdapter</key>
	<string>sliderParameterDensity</string>
</dict>
</plist>
