<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocMediatorCenter</key>
	<string>gradientOrVar</string>
	<key>dependencyWorkContrast</key>
	<string>boxSingletonOffset</string>
	<key>getxAboutTier</key>
	<string>loopPrototypeShade</string>
	<key>movementOrLevel</key>
	<string>sensorCycleDuration</string>
	<key>musicVersusNumber</key>
	<string>widgetStyleDepth</string>
	<key>protectedSignatureFeedback</key>
	<string>visibleInterfaceIndex</string>
	<key>requestInterpreterTag</key>
	<string>tensorRouteContrast</string>
	<key>taskStructureOrigin</key>
	<string>equalizationEnvironmentIndex</string>
</dict>
</plist>
