<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxFormTheme</key>
	<string>sliderFrameworkPadding</string>
	<key>collectionAsStructure</key>
	<string>previewByPrototype</string>
	<key>isolateAlongKind</key>
	<string>resourceStructureVisible</string>
	<key>providerTempleHead</key>
	<string>composableTernaryRight</string>
	<key>queryAtBridge</key>
	<string>dependencyAroundLevel</string>
	<key>riverpodFacadeVisible</key>
	<string>resultInBuffer</string>
	<key>symmetricGraphType</key>
	<string>descriptorLikeFunction</string>
	<key>webProviderVelocity</key>
	<string>interactorTempleContrast</string>
</dict>
</plist>
