<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphaTierInteraction</key>
	<string>baseNearVariable</string>
	<key>assetProxyBottom</key>
	<string>coordinatorProcessShape</string>
	<key>observerAmongStage</key>
	<string>metadataOrBridge</string>
	<key>offsetEnvironmentBrightness</key>
	<string>subtleGraphCoord</string>
	<key>plateNearLevel</key>
	<string>notificationVersusCommand</string>
	<key>plateWithoutInterpreter</key>
	<string>constraintContainStrategy</string>
	<key>popupWithoutEnvironment</key>
	<string>cardModePadding</string>
	<key>semanticsContainNumber</key>
	<string>denseParticleTop</string>
	<key>workflowAtFunction</key>
	<string>transitionContainEnvironment</string>
</dict>
</plist>
