<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelObserverSize</key>
	<string>curveNearCycle</string>
	<key>completionOrTemple</key>
	<string>contractionPrototypeDepth</string>
	<key>intensityInterpreterSpeed</key>
	<string>textureFacadeHead</string>
	<key>pinchableConfigurationInset</key>
	<string>graphContextFlags</string>
	<key>presenterEnvironmentInteraction</key>
	<string>decorationValuePosition</string>
	<key>relationalSinkInteraction</key>
	<string>streamExceptFunction</string>
	<key>resultInStyle</key>
	<string>diffableIndicatorDirection</string>
	<key>shaderAtObserver</key>
	<string>boxByOperation</string>
	<key>utilByStyle</key>
	<string>buttonThroughParam</string>
</dict>
</plist>
