<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>declarativeExponentColor</key>
	<string>eventKindKind</string>
	<key>fragmentPerTask</key>
	<string>tickerTaskForce</string>
	<key>layoutForAction</key>
	<string>factoryBesideState</string>
	<key>lossMementoTransparency</key>
	<string>notificationFunctionDepth</string>
	<key>particleParameterContrast</key>
	<string>subtleGroupStyle</string>
	<key>progressbarWithOperation</key>
	<string>typicalTabviewLocation</string>
	<key>usageVarBound</key>
	<string>futureOrMemento</string>
	<key>widgetFacadeTail</key>
	<string>routeWithChain</string>
</dict>
</plist>
