<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetByState</key>
	<string>utilThanState</string>
	<key>collectionSingletonBrightness</key>
	<string>singleExpandedSize</string>
	<key>declarativeProviderTension</key>
	<string>observerTempleKind</string>
	<key>dimensionAroundSingleton</key>
	<string>resilientProfileVisibility</string>
	<key>errorVersusVariable</key>
	<string>arithmeticQueueSaturation</string>
	<key>grayscaleUntilFlyweight</key>
	<string>variantInOperation</string>
	<key>gridviewDuringPhase</key>
	<string>loopDecoratorCoord</string>
	<key>mainSliderRate</key>
	<string>descriptionKindRate</string>
</dict>
</plist>
