<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationPerVariable</key>
	<string>elasticMediaTint</string>
	<key>featureKindBound</key>
	<string>kernelInActivity</string>
	<key>mobxAwayMode</key>
	<string>staticInterfaceInterval</string>
	<key>radioAndInterpreter</key>
	<string>semanticSpecifierKind</string>
	<key>requestSingletonLocation</key>
	<string>techniqueActionCount</string>
	<key>richtextWithValue</key>
	<string>gesturedetectorCompositeRate</string>
	<key>touchAmongInterpreter</key>
	<string>rectLevelState</string>
</dict>
</plist>
