<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxNumberAcceleration</key>
	<string>baseContextLocation</string>
	<key>bufferContainMemento</key>
	<string>sortedActionAcceleration</string>
	<key>cacheCommandHead</key>
	<string>eagerProgressbarDensity</string>
	<key>containerWithType</key>
	<string>exponentLevelOffset</string>
	<key>coordinatorContainMode</key>
	<string>columnDespiteInterpreter</string>
	<key>independentBufferMargin</key>
	<string>errorCommandSkewy</string>
	<key>sizeParamInteraction</key>
	<string>logAwayBuffer</string>
	<key>stateOperationDirection</key>
	<string>unaryPerScope</string>
	<key>subtleHistogramTail</key>
	<string>completionOperationTag</string>
	<key>sustainableOffsetShade</key>
	<string>geometricProfileDuration</string>
</dict>
</plist>
