<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocOrVariable</key>
	<string>lastFutureValidation</string>
	<key>coordinatorPrototypeFormat</key>
	<string>progressbarOfShape</string>
	<key>dropdownbuttonPhaseMomentum</key>
	<string>mainCanvasForce</string>
	<key>entropyWithWork</key>
	<string>nativeQueueFlags</string>
	<key>futureLayerFlags</key>
	<string>fixedTopicPadding</string>
	<key>hashShapeKind</key>
	<string>commandContainKind</string>
	<key>ignoredTimerSize</key>
	<string>toolStageShape</string>
</dict>
</plist>
