<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphaTaskVisibility</key>
	<string>coordinatorAroundContext</string>
	<key>completionSingletonVisible</key>
	<string>chartDecoratorFormat</string>
	<key>curveProxyVelocity</key>
	<string>alignmentNearKind</string>
	<key>directlyPainterSize</key>
	<string>resourceMethodForce</string>
	<key>featureAdapterFeedback</key>
	<string>interactiveZoneCount</string>
	<key>inkwellActivityContrast</key>
	<string>robustDependencyShape</string>
	<key>metadataFromActivity</key>
	<string>boxDespiteEnvironment</string>
	<key>nodeMediatorEdge</key>
	<string>streamChainSkewx</string>
</dict>
</plist>
