<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delegateAmongTemple</key>
	<string>projectionSystemSize</string>
	<key>gridExceptForm</key>
	<string>interactorAmongProxy</string>
	<key>respectiveControllerDepth</key>
	<string>protectedSliderSkewy</string>
	<key>visibleStreamAppearance</key>
	<string>inheritedObserverMargin</string>
</dict>
</plist>
