<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consultativeWidgetSpacing</key>
	<string>textureOrPattern</string>
	<key>dimensionPerMediator</key>
	<string>getxAdapterShade</string>
	<key>hardTaskTail</key>
	<string>lostManagerType</string>
	<key>loopAgainstSystem</key>
	<string>functionalConsumerBehavior</string>
	<key>robustSingletonName</key>
	<string>dimensionViaValue</string>
	<key>statelessNumberHead</key>
	<string>iconNearForm</string>
</dict>
</plist>
