<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerStrategyTension</key>
	<string>directImageEdge</string>
	<key>aspectratioBesideEnvironment</key>
	<string>spriteProxyPadding</string>
	<key>awaitActionVelocity</key>
	<string>newestStoreVisible</string>
	<key>baselineWorkAppearance</key>
	<string>immediateMapPadding</string>
	<key>basicRadiusFormat</key>
	<string>responsiveDependencyInset</string>
	<key>builderFromContext</key>
	<string>buttonLayerHead</string>
	<key>containerScopeVelocity</key>
	<string>immutableResourceStatus</string>
	<key>queryContextTransparency</key>
	<string>interactorThroughBridge</string>
	<key>unactivatedMultiplicationBehavior</key>
	<string>mediumVectorMomentum</string>
	<key>uniformLabelFlags</key>
	<string>transformerAndKind</string>
</dict>
</plist>
