<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dimensionModeSize</key>
	<string>logAlongStage</string>
	<key>ignoredMemberResponse</key>
	<string>providerStatePressure</string>
	<key>metadataInPrototype</key>
	<string>hyperbolicWorkflowLeft</string>
	<key>nextCompleterPressure</key>
	<string>directlyStorageAlignment</string>
	<key>resizableSwitchPosition</key>
	<string>gradientOutsideFramework</string>
	<key>significantFutureStyle</key>
	<string>imageWithoutBuffer</string>
</dict>
</plist>
