<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterProcessDirection</key>
	<string>petStyleTension</string>
	<key>elasticLabelSkewy</key>
	<string>denseSymbolCount</string>
	<key>resolverVariableState</key>
	<string>eagerSliderDistance</string>
</dict>
</plist>
