<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicSegmentOpacity</key>
	<string>scrollableSizeBottom</string>
	<key>currentGridSaturation</key>
	<string>specifierLevelSpacing</string>
	<key>delegateLikeStyle</key>
	<string>expandedPerObserver</string>
	<key>drawerAndFramework</key>
	<string>smartClipperTension</string>
	<key>injectionPhaseRotation</key>
	<string>paddingNearKind</string>
	<key>labelDespiteScope</key>
	<string>fixedPreviewDistance</string>
	<key>lostAsyncTop</key>
	<string>serviceObserverSkewy</string>
	<key>opaqueStatefulRate</key>
	<string>responseShapeRight</string>
	<key>retainedViewContrast</key>
	<string>storageMediatorInteraction</string>
	<key>sineValueSize</key>
	<string>checkboxPlatformMargin</string>
</dict>
</plist>
