<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionalOffsetTint</key>
	<string>callbackSinceVariable</string>
	<key>eagerPrioritySpeed</key>
	<string>futureFrameworkBorder</string>
	<key>granularCupertinoPadding</key>
	<string>taskTaskVisibility</string>
	<key>invisibleArithmeticDelay</key>
	<string>scaleFlyweightOrientation</string>
	<key>permanentResponseTail</key>
	<string>binaryPerLayer</string>
	<key>projectionValueAppearance</key>
	<string>storeWithPhase</string>
	<key>referenceOfTemple</key>
	<string>groupAmongType</string>
	<key>sliderIncludePrototype</key>
	<string>collectionPlatformVisible</string>
	<key>spineEnvironmentFeedback</key>
	<string>sceneShapeVisible</string>
</dict>
</plist>
