<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveResolverContrast</key>
	<string>signKindShape</string>
	<key>comprehensiveExceptionSize</key>
	<string>variantFacadeHue</string>
	<key>interactiveGridviewCount</key>
	<string>semanticModelOffset</string>
	<key>invisibleLoopDirection</key>
	<string>intermediateNodeAlignment</string>
	<key>logarithmLevelDirection</key>
	<string>directTransitionTheme</string>
	<key>memberWithVariable</key>
	<string>cupertinoCursorType</string>
	<key>previewIncludeMethod</key>
	<string>timerPrototypeDistance</string>
</dict>
</plist>
