<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>characterCommandFrequency</key>
	<string>anchorParameterCoord</string>
	<key>delegatePhaseCoord</key>
	<string>brushObserverVisibility</string>
	<key>dropdownbuttonViaTier</key>
	<string>responsiveViewDuration</string>
	<key>finalTaskDistance</key>
	<string>resourceAroundContext</string>
	<key>missionPatternMode</key>
	<string>positionBridgeRight</string>
	<key>mobileCycleKind</key>
	<string>specifierFormVelocity</string>
	<key>tabviewInsideComposite</key>
	<string>hierarchicalBufferLocation</string>
</dict>
</plist>
