<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consultativeOverlayBound</key>
	<string>buttonStateValidation</string>
	<key>dropdownbuttonLikeMode</key>
	<string>unactivatedCubitLeft</string>
	<key>inactiveNotificationHead</key>
	<string>crudeSlashMargin</string>
	<key>injectionCompositeBound</key>
	<string>decorationVisitorKind</string>
	<key>movementParameterValidation</key>
	<string>chapterInAction</string>
	<key>sequentialLayoutName</key>
	<string>keyTableStatus</string>
</dict>
</plist>
