<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concreteOffsetPressure</key>
	<string>independentThemeContrast</string>
	<key>euclideanDialogsMargin</key>
	<string>completerAmongStrategy</string>
	<key>factoryAmongJob</key>
	<string>protectedCollectionType</string>
	<key>functionalCupertinoTop</key>
	<string>customNibDelay</string>
	<key>matrixStrategyHue</key>
	<string>featureFlyweightVisible</string>
	<key>referenceOfStage</key>
	<string>binaryLikeKind</string>
</dict>
</plist>
