<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetParameterMargin</key>
	<string>mediumRequestTension</string>
	<key>bufferNearStyle</key>
	<string>threadPerKind</string>
	<key>decorationBufferFeedback</key>
	<string>reactiveBaseShape</string>
	<key>functionalQueryTension</key>
	<string>cosineOrParam</string>
	<key>sortedGridRotation</key>
	<string>iconContextSize</string>
	<key>widgetProxyDelay</key>
	<string>pivotalQueryInterval</string>
</dict>
</plist>
