<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>labelExceptScope</key>
	<string>sortedCommandForce</string>
	<key>offsetBeyondBridge</key>
	<string>pinchableExtensionOpacity</string>
	<key>reactiveFlexDelay</key>
	<string>featureDespiteScope</string>
	<key>significantGroupPressure</key>
	<string>queryWithoutShape</string>
</dict>
</plist>
