<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryAmongWork</key>
	<string>variantAgainstPattern</string>
	<key>elasticPlateFeedback</key>
	<string>reducerInsideCommand</string>
	<key>gateJobCoord</key>
	<string>providerExceptPattern</string>
	<key>interactiveRadiusVelocity</key>
	<string>capacitiesFunctionBottom</string>
	<key>scenePlatformForce</key>
	<string>accessoryPerStage</string>
	<key>symmetricPromisePadding</key>
	<string>hierarchicalContainerType</string>
	<key>viewUntilStage</key>
	<string>statefulCharacterResponse</string>
</dict>
</plist>
