<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>borderMementoPressure</key>
	<string>matrixViaPlatform</string>
	<key>composableResultDuration</key>
	<string>brushFunctionRight</string>
	<key>criticalRadiusVelocity</key>
	<string>cartesianNotificationSpacing</string>
	<key>denseReducerState</key>
	<string>adaptiveIntegerType</string>
	<key>gridAsShape</key>
	<string>consumerPhaseTension</string>
	<key>publicTransformerSkewx</key>
	<string>documentCycleName</string>
	<key>routerInsideFacade</key>
	<string>numericalCapsuleVisible</string>
	<key>subscriptionDecoratorTag</key>
	<string>taskFunctionBrightness</string>
	<key>visibleMapStatus</key>
	<string>profileInSingleton</string>
</dict>
</plist>
