<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocInActivity</key>
	<string>currentAssetSkewy</string>
	<key>gesturedetectorVersusVariable</key>
	<string>switchFormHue</string>
	<key>resizableOptionEdge</key>
	<string>staticEquipmentVelocity</string>
	<key>streamForMediator</key>
	<string>mapAtSystem</string>
</dict>
</plist>
