<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awaitWithChain</key>
	<string>logarithmFlyweightSpeed</string>
	<key>constraintBufferHead</key>
	<string>allocatorForKind</string>
	<key>custompaintAdapterFlags</key>
	<string>clipperAdapterPosition</string>
	<key>diffableCompletionBehavior</key>
	<string>nativeSliderShape</string>
	<key>precisionBridgeFrequency</key>
	<string>controllerAwayFlyweight</string>
	<key>sinkParamVisible</key>
	<string>transitionStyleCount</string>
	<key>storageNearState</key>
	<string>nodeSingletonTheme</string>
</dict>
</plist>
