<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncEnvironmentRight</key>
	<string>profileOfValue</string>
	<key>cacheBeyondState</key>
	<string>methodWorkOrientation</string>
	<key>contractionMethodRotation</key>
	<string>rectNearFacade</string>
	<key>custompaintOfInterpreter</key>
	<string>iconLayerBorder</string>
	<key>menuIncludeBuffer</key>
	<string>effectPhasePosition</string>
	<key>titleSystemLocation</key>
	<string>buttonBesideFramework</string>
	<key>visibleBehaviorOpacity</key>
	<string>chartDecoratorTag</string>
</dict>
</plist>
