<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorValueFormat</key>
	<string>featureBeyondVariable</string>
	<key>autoPositionedDuration</key>
	<string>requiredChannelTransparency</string>
	<key>buttonPrototypeOrigin</key>
	<string>entityOrActivity</string>
	<key>liteGraphTag</key>
	<string>dimensionInCommand</string>
	<key>methodStateTail</key>
	<string>tensorChapterOrigin</string>
	<key>queryVisitorBottom</key>
	<string>providerTierOrientation</string>
	<key>sampleAwayFacade</key>
	<string>modelThroughTier</string>
	<key>sensorFormMode</key>
	<string>custompaintAsDecorator</string>
	<key>stepOperationTheme</key>
	<string>sinkAndState</string>
	<key>viewMethodDuration</key>
	<string>directlyGroupDelay</string>
</dict>
</plist>
