<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeSubscriptionColor</key>
	<string>profileSystemDuration</string>
	<key>checkboxTaskDepth</key>
	<string>sizeFlyweightPadding</string>
	<key>functionalBitrateTransparency</key>
	<string>otherSubpixelSpeed</string>
	<key>navigatorBeyondParam</key>
	<string>loopDuringProcess</string>
	<key>prevAppbarPosition</key>
	<string>firstSlashPosition</string>
	<key>routeAmongScope</key>
	<string>fusedAppbarMode</string>
	<key>storageCompositePressure</key>
	<string>unsortedScaleOrientation</string>
</dict>
</plist>
