<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionSliderHue</key>
	<string>hashModeMomentum</string>
	<key>capsuleModeSpacing</key>
	<string>responsiveModulusAlignment</string>
	<key>composableAlphaTint</key>
	<string>requiredGrayscaleFrequency</string>
	<key>descriptionInPlatform</key>
	<string>oldTransitionDelay</string>
	<key>flexObserverShape</key>
	<string>projectionVersusChain</string>
	<key>reactiveResultDelay</key>
	<string>gridviewAtState</string>
	<key>statelessEnvironmentType</key>
	<string>visibleViewPadding</string>
</dict>
</plist>
