<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>binaryContainProxy</key>
	<string>modalBesideNumber</string>
	<key>exponentAmongPhase</key>
	<string>custompaintThanVariable</string>
	<key>interactiveModelPadding</key>
	<string>beginnerTimerMargin</string>
	<key>profileBufferInteraction</key>
	<string>discardedMemberSaturation</string>
	<key>rowForShape</key>
	<string>projectMementoCount</string>
	<key>standaloneGridBrightness</key>
	<string>topicIncludeParam</string>
</dict>
</plist>
