<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commandShapeAlignment</key>
	<string>statefulWithoutMemento</string>
	<key>interactiveFramePosition</key>
	<string>directlyShaderVisibility</string>
	<key>metadataStateColor</key>
	<string>pivotalStorageContrast</string>
	<key>queryAndObserver</key>
	<string>globalCurveForce</string>
	<key>queueCompositeVisible</key>
	<string>alertAndParameter</string>
	<key>routerTempleMomentum</key>
	<string>activeRemainderOffset</string>
</dict>
</plist>
