<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetOperationFlags</key>
	<string>textfieldMethodAppearance</string>
	<key>completionPhaseVisible</key>
	<string>gridBesideTier</string>
	<key>crudeNodeFrequency</key>
	<string>shaderWithTask</string>
	<key>declarativeRiverpodSize</key>
	<string>tweenAroundLayer</string>
	<key>positionTempleEdge</key>
	<string>inheritedMethodOrigin</string>
	<key>routeBridgeHead</key>
	<string>priorityInPlatform</string>
	<key>storyboardSingletonContrast</key>
	<string>gesturedetectorContextMode</string>
</dict>
</plist>
