<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubitKindStyle</key>
	<string>rectStyleLocation</string>
	<key>frameShapeScale</key>
	<string>techniqueBufferRotation</string>
	<key>tabviewViaAction</key>
	<string>signatureSinceMemento</string>
</dict>
</plist>
