<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capsuleBesideTask</key>
	<string>sliderForTask</string>
	<key>descriptorAtJob</key>
	<string>synchronousMomentumForce</string>
	<key>gesturedetectorProxyTheme</key>
	<string>viewNumberFormat</string>
	<key>gridviewAgainstMode</key>
	<string>visibleConstraintTheme</string>
	<key>imperativeSamplePadding</key>
	<string>isolateWorkOrientation</string>
	<key>marginShapeHead</key>
	<string>radiusCycleSkewx</string>
	<key>opaqueBlocShape</key>
	<string>logBySystem</string>
	<key>textureAmongChain</key>
	<string>immediatePromiseTop</string>
</dict>
</plist>
