<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dropdownbuttonStyleShape</key>
	<string>similarCubitInterval</string>
	<key>petCycleState</key>
	<string>robustStackOrigin</string>
	<key>semanticsTempleSkewy</key>
	<string>axisPerState</string>
	<key>sizedboxInterpreterSkewx</key>
	<string>routeForLayer</string>
	<key>transformerThanPlatform</key>
	<string>explicitTimerCenter</string>
</dict>
</plist>
