<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorPatternBottom</key>
	<string>controllerOrTask</string>
	<key>enabledExponentScale</key>
	<string>rowJobCoord</string>
	<key>routeAsVar</key>
	<string>cupertinoViaAdapter</string>
	<key>tensorMobxCenter</key>
	<string>animationThanProcess</string>
</dict>
</plist>
