<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectChainForce</key>
	<string>multiAlignmentIndex</string>
	<key>catalystDespiteTemple</key>
	<string>memberScopeDelay</string>
	<key>checkboxPerLayer</key>
	<string>promisePerDecorator</string>
	<key>eagerMediaStatus</key>
	<string>logSystemMode</string>
	<key>progressbarOutsidePhase</key>
	<string>swiftDuringMemento</string>
	<key>respectiveUsageRight</key>
	<string>ignoredScreenPadding</string>
	<key>storageAroundScope</key>
	<string>sizeAboutStrategy</string>
</dict>
</plist>
