<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customizedRichtextPosition</key>
	<string>largeChallengeValidation</string>
	<key>effectIncludeAction</key>
	<string>cursorDecoratorTop</string>
	<key>isolateContextShape</key>
	<string>viewMethodRight</string>
	<key>mobileBuilderHead</key>
	<string>boxAdapterInset</string>
	<key>requestContainLayer</key>
	<string>commonApertureInteraction</string>
	<key>smartDescriptionDensity</key>
	<string>animationAdapterTail</string>
</dict>
</plist>
