<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>crudeGraphFeedback</key>
	<string>effectOperationShape</string>
	<key>drawerDecoratorRate</key>
	<string>grainVarDensity</string>
	<key>inheritedActivityInset</key>
	<string>cupertinoDuringShape</string>
	<key>resizableTitleState</key>
	<string>activatedSubscriptionLocation</string>
	<key>roleAlongInterpreter</key>
	<string>tappableTopicContrast</string>
	<key>sizedboxSinceValue</key>
	<string>cursorNearFacade</string>
	<key>utilScopeBound</key>
	<string>cartesianAnimationTransparency</string>
	<key>visibleBoxshadowOrigin</key>
	<string>popupBesideObserver</string>
</dict>
</plist>
