<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hashWorkShade</key>
	<string>accessoryObserverPadding</string>
	<key>methodInKind</key>
	<string>uniqueDescriptionStatus</string>
	<key>nibOfWork</key>
	<string>invisibleCupertinoInset</string>
	<key>offsetJobEdge</key>
	<string>alertByWork</string>
	<key>prismaticGraphCenter</key>
	<string>backwardRequestSkewx</string>
	<key>robustEffectPressure</key>
	<string>delegateTierBorder</string>
	<key>stateInsideFramework</key>
	<string>visiblePopupType</string>
</dict>
</plist>
