<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>enabledMobxBrightness</key>
	<string>equalizationAtStrategy</string>
	<key>lastNodeType</key>
	<string>relationalUtilTransparency</string>
	<key>managerDecoratorLeft</key>
	<string>handlerBufferDelay</string>
	<key>matrixDespiteMode</key>
	<string>animationUntilEnvironment</string>
	<key>memberVersusObserver</key>
	<string>marginPerWork</string>
	<key>momentumSystemTop</key>
	<string>specifyCompleterSkewy</string>
	<key>radioAsNumber</key>
	<string>largePromiseForce</string>
	<key>repositoryFacadeStatus</key>
	<string>grayscalePatternOrientation</string>
	<key>usecaseStyleName</key>
	<string>difficultErrorEdge</string>
</dict>
</plist>
