<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consultativePresenterScale</key>
	<string>seamlessBuilderFrequency</string>
	<key>entityAroundObserver</key>
	<string>documentMementoPadding</string>
	<key>hyperbolicMethodBrightness</key>
	<string>bitrateFunctionDensity</string>
	<key>vectorBufferEdge</key>
	<string>sortedAssetShade</string>
</dict>
</plist>
