<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completerForPhase</key>
	<string>difficultTitleFeedback</string>
	<key>custompaintOrCommand</key>
	<string>promiseInsideStage</string>
	<key>displayableCursorColor</key>
	<string>concreteGridTag</string>
	<key>eventAsValue</key>
	<string>beginnerGesturePosition</string>
	<key>exceptionPhaseContrast</key>
	<string>buttonPlatformForce</string>
	<key>interactiveManagerAcceleration</key>
	<string>declarativeLayoutFlags</string>
	<key>mediaAdapterLeft</key>
	<string>directPlaybackShade</string>
	<key>previewVarBehavior</key>
	<string>viewFlyweightSpacing</string>
	<key>topicByPattern</key>
	<string>ephemeralCoordinatorState</string>
	<key>usedMatrixPadding</key>
	<string>checklistWithoutStyle</string>
</dict>
</plist>
