<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorContainComposite</key>
	<string>alignmentProcessPosition</string>
	<key>capacitiesChainEdge</key>
	<string>pageviewAlongWork</string>
	<key>indicatorBySingleton</key>
	<string>playbackThroughParameter</string>
	<key>nibThanShape</key>
	<string>tensorModulusMargin</string>
	<key>sceneParamOpacity</key>
	<string>permissiveFrameOpacity</string>
	<key>servicePatternIndex</key>
	<string>slashAsObserver</string>
	<key>transitionBesideAction</key>
	<string>greatCompositionPressure</string>
	<key>viewLikeMediator</key>
	<string>retainedModulusFeedback</string>
</dict>
</plist>
