<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderFrameworkBrightness</key>
	<string>subsequentEqualizationName</string>
	<key>buttonPhaseCount</key>
	<string>assetVarOpacity</string>
	<key>interactorContainJob</key>
	<string>sortedQueryBorder</string>
	<key>loopShapeTail</key>
	<string>configurationActionDelay</string>
	<key>menuUntilFlyweight</key>
	<string>progressbarThroughPlatform</string>
	<key>significantIconFlags</key>
	<string>mediumSceneMomentum</string>
</dict>
</plist>
