<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>behaviorParamSize</key>
	<string>subsequentBlocCoord</string>
	<key>instructionLayerFeedback</key>
	<string>optionVersusVisitor</string>
	<key>intermediateTransformerTension</key>
	<string>subpixelOrScope</string>
	<key>layoutActivityInteraction</key>
	<string>sceneTempleState</string>
	<key>mediaAdapterShape</key>
	<string>independentBaselineSpeed</string>
	<key>queryCommandFeedback</key>
	<string>radiusTempleTension</string>
	<key>smallNotifierTag</key>
	<string>momentumContextTop</string>
</dict>
</plist>
