<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>draggableSlashBehavior</key>
	<string>substantialAppbarLocation</string>
	<key>granularRoleInteraction</key>
	<string>missedResultLeft</string>
	<key>publicViewSize</key>
	<string>prismaticMediaTag</string>
	<key>radiusEnvironmentTension</key>
	<string>topicAmongTier</string>
	<key>specifierAroundValue</key>
	<string>missedCustompaintVisible</string>
	<key>statelessAwayFunction</key>
	<string>sizedboxParameterTag</string>
	<key>taskUntilParameter</key>
	<string>certificateCommandOffset</string>
	<key>usedTextureTension</key>
	<string>offsetContainObserver</string>
</dict>
</plist>
