<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>momentumIncludeFacade</key>
	<string>contractionWithFlyweight</string>
	<key>presenterPerWork</key>
	<string>baselineSinceProcess</string>
	<key>serviceSingletonBound</key>
	<string>allocatorAdapterLeft</string>
	<key>statefulAlongType</key>
	<string>behaviorOfCycle</string>
	<key>stepInKind</key>
	<string>customMatrixPressure</string>
</dict>
</plist>
