<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonAsLayer</key>
	<string>decorationPatternLocation</string>
	<key>catalystBridgeValidation</key>
	<string>subsequentAllocatorTheme</string>
	<key>constBlocForce</key>
	<string>newestCubitDensity</string>
	<key>descriptionForTier</key>
	<string>declarativeSkinMomentum</string>
	<key>particleUntilSystem</key>
	<string>completerStyleMomentum</string>
	<key>protocolWorkDensity</key>
	<string>heroBufferValidation</string>
</dict>
</plist>
