<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chartModeEdge</key>
	<string>riverpodIncludeNumber</string>
	<key>checkboxAtLevel</key>
	<string>desktopInteractorSkewy</string>
	<key>equalizationBufferCenter</key>
	<string>painterWorkRate</string>
	<key>frameAboutEnvironment</key>
	<string>disparatePresenterStyle</string>
	<key>menuSingletonFlags</key>
	<string>parallelSizedboxStyle</string>
	<key>mobileCellMomentum</key>
	<string>multiRepositoryName</string>
	<key>musicWithScope</key>
	<string>clipperOrJob</string>
	<key>permanentTableCoord</key>
	<string>cartesianChannelDirection</string>
	<key>tabbarContextAlignment</key>
	<string>resourceWithCommand</string>
	<key>uniformThreadTag</key>
	<string>consultativeOverlaySpacing</string>
</dict>
</plist>
