<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleRoutePressure</key>
	<string>providerAmongStructure</string>
	<key>agileFactoryTransparency</key>
	<string>composableSliderValidation</string>
	<key>disparateNavigationFeedback</key>
	<string>tensorMomentumKind</string>
	<key>gramFormSkewy</key>
	<string>adaptiveLayerKind</string>
	<key>previewVersusSingleton</key>
	<string>completionAroundPrototype</string>
	<key>temporaryDelegateOrientation</key>
	<string>smartNavigatorTint</string>
</dict>
</plist>
