<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubitLevelLocation</key>
	<string>missedCompletionName</string>
	<key>interfaceLikeNumber</key>
	<string>associatedControllerCount</string>
	<key>mediocreSliderBound</key>
	<string>sinkDespiteProcess</string>
	<key>secondVectorDelay</key>
	<string>pageviewDecoratorOrigin</string>
</dict>
</plist>
