<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedInterfaceRotation</key>
	<string>projectJobSaturation</string>
	<key>giftObserverHead</key>
	<string>boxshadowLayerForce</string>
	<key>globalQueryTail</key>
	<string>binaryCommandAppearance</string>
	<key>immutableContainerRight</key>
	<string>assetAroundVisitor</string>
	<key>imperativeReducerHue</key>
	<string>standaloneSineTension</string>
	<key>positionedAboutAdapter</key>
	<string>alertBesideMode</string>
	<key>queueThroughFunction</key>
	<string>reusableConfigurationInteraction</string>
</dict>
</plist>
