<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardObserverPadding</key>
	<string>controllerPrototypeTheme</string>
	<key>keyTangentPressure</key>
	<string>transitionScopeSkewy</string>
	<key>offsetDuringSingleton</key>
	<string>parallelColumnShade</string>
	<key>providerAlongNumber</key>
	<string>lostBlocTag</string>
	<key>timerSinceValue</key>
	<string>bufferBufferInset</string>
</dict>
</plist>
