<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardKernelEdge</key>
	<string>navigatorScopeDensity</string>
	<key>curveOfSingleton</key>
	<string>sinkAtMemento</string>
	<key>decorationObserverSaturation</key>
	<string>convolutionWithFramework</string>
	<key>delegateUntilBridge</key>
	<string>projectProxyShade</string>
	<key>equipmentStructureVisibility</key>
	<string>textfieldForJob</string>
	<key>loopPrototypeLocation</key>
	<string>borderActionKind</string>
	<key>presenterFlyweightFrequency</key>
	<string>eagerStoryboardAcceleration</string>
	<key>semanticsDuringPattern</key>
	<string>stepActivityTop</string>
	<key>smartStampVelocity</key>
	<string>managerMethodBound</string>
	<key>uniqueControllerRate</key>
	<string>columnAtBuffer</string>
</dict>
</plist>
