<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterExceptFunction</key>
	<string>queryCycleOpacity</string>
	<key>concreteMarginMomentum</key>
	<string>canvasTierOpacity</string>
	<key>equipmentTypeHead</key>
	<string>mediocreRowMomentum</string>
	<key>largeChannelVisibility</key>
	<string>completerFacadeMomentum</string>
	<key>listenerTypeHead</key>
	<string>sliderModeTop</string>
	<key>offsetMediatorHue</key>
	<string>topicSingletonDuration</string>
	<key>transitionByDecorator</key>
	<string>monsterBesideForm</string>
</dict>
</plist>
