<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>canvasSingletonCenter</key>
	<string>completerIncludePlatform</string>
	<key>ephemeralBulletSize</key>
	<string>prismaticFutureState</string>
	<key>gateAndPlatform</key>
	<string>backwardGraphicSkewx</string>
	<key>operationKindMomentum</key>
	<string>certificateJobOffset</string>
	<key>particleStructureDirection</key>
	<string>prismaticControllerDepth</string>
	<key>statefulBesideDecorator</key>
	<string>buttonForContext</string>
	<key>tableVersusType</key>
	<string>bitrateLevelDepth</string>
	<key>tweenNumberState</key>
	<string>unaryAroundInterpreter</string>
	<key>zoneTypeBehavior</key>
	<string>custompaintMethodTheme</string>
</dict>
</plist>
