<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentManagerSpacing</key>
	<string>cupertinoInterpolationIndex</string>
	<key>errorKindTransparency</key>
	<string>unsortedLayerRight</string>
	<key>presenterChainPressure</key>
	<string>stepSinceInterpreter</string>
	<key>sharedTickerMomentum</key>
	<string>reactiveIsolateTop</string>
	<key>unactivatedRoleVisible</key>
	<string>uniformCapacitiesShade</string>
	<key>widgetLayerEdge</key>
	<string>semanticNavigatorAlignment</string>
</dict>
</plist>
