<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baselineInValue</key>
	<string>builderExceptWork</string>
	<key>curveTaskTag</key>
	<string>serviceBeyondMediator</string>
	<key>errorInsideDecorator</key>
	<string>robustChannelTop</string>
	<key>geometricConvolutionSpeed</key>
	<string>primaryConstraintEdge</string>
	<key>positionedProcessTheme</key>
	<string>builderVersusFlyweight</string>
	<key>reusablePopupTag</key>
	<string>taskStateHue</string>
	<key>singletonPhaseEdge</key>
	<string>timerBesideVisitor</string>
	<key>smallBrushStyle</key>
	<string>mobxUntilInterpreter</string>
</dict>
</plist>
