<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>directMarginMode</key>
	<string>nodeOperationInteraction</string>
	<key>factoryByPattern</key>
	<string>sequentialSceneDirection</string>
	<key>modelStructureDirection</key>
	<string>similarProfileShape</string>
	<key>playbackJobAcceleration</key>
	<string>memberOrMediator</string>
	<key>sessionAmongKind</key>
	<string>difficultGraphSkewx</string>
	<key>sineKindPressure</key>
	<string>missionSystemDistance</string>
	<key>sliderThanPlatform</key>
	<string>mediaPrototypeName</string>
</dict>
</plist>
