<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>composableHistogramAppearance</key>
	<string>topicMementoContrast</string>
	<key>durationFromJob</key>
	<string>secondArithmeticRotation</string>
	<key>functionalCubitTop</key>
	<string>comprehensiveBaselineInterval</string>
	<key>metadataAroundCommand</key>
	<string>routerNearShape</string>
	<key>modelByProxy</key>
	<string>gateAtStyle</string>
	<key>titleDespiteMode</key>
	<string>loopOutsideStyle</string>
</dict>
</plist>
