<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationThanVariable</key>
	<string>controllerScopeVelocity</string>
	<key>commonPositionedAlignment</key>
	<string>blocWithoutFlyweight</string>
	<key>cosineNearState</key>
	<string>retainedCatalystCount</string>
	<key>numericalConfigurationPosition</key>
	<string>localizationBeyondFlyweight</string>
	<key>sinkContextLeft</key>
	<string>blocNumberVisible</string>
	<key>vectorVarTheme</key>
	<string>specifyMomentumTint</string>
</dict>
</plist>
