<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apertureJobFrequency</key>
	<string>swiftModeHead</string>
	<key>iconMethodPadding</key>
	<string>plateVersusFramework</string>
	<key>listviewVisitorTint</key>
	<string>axisWithoutStyle</string>
	<key>mobileCycleShade</key>
	<string>skirtPhaseSpeed</string>
	<key>requestLevelRotation</key>
	<string>groupJobLocation</string>
</dict>
</plist>
