<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticTabbarDensity</key>
	<string>beginnerStoryboardLeft</string>
	<key>dedicatedTernaryTension</key>
	<string>resizableFuturePosition</string>
	<key>dynamicNormFlags</key>
	<string>mobxFromType</string>
	<key>framePrototypeSkewy</key>
	<string>giftPlatformSkewy</string>
	<key>mediumSpriteSpacing</key>
	<string>interactorStructureAcceleration</string>
	<key>normalGrainName</key>
	<string>materialStorageEdge</string>
	<key>sequentialObserverStyle</key>
	<string>entityObserverColor</string>
	<key>sessionTierSaturation</key>
	<string>asynchronousSlashState</string>
	<key>tensorMarginCount</key>
	<string>materialVersusWork</string>
	<key>variantViaLevel</key>
	<string>semanticReductionVisible</string>
</dict>
</plist>
