<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>criticalExponentStyle</key>
	<string>workflowSystemMargin</string>
	<key>hardTopicHead</key>
	<string>alertAboutCycle</string>
	<key>injectionWorkName</key>
	<string>collectionKindForce</string>
	<key>nativeResolverColor</key>
	<string>reusableSymbolCount</string>
	<key>stateInsideStrategy</key>
	<string>paddingBesideStyle</string>
	<key>taskOutsidePrototype</key>
	<string>alignmentAlongLevel</string>
	<key>textureFlyweightPosition</key>
	<string>momentumInType</string>
	<key>themeThanFlyweight</key>
	<string>nodeWithoutScope</string>
	<key>toolParamTag</key>
	<string>tweenTierPressure</string>
</dict>
</plist>
