<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticBufferName</key>
	<string>respectiveAccessoryContrast</string>
	<key>buttonAlongLayer</key>
	<string>decorationVersusForm</string>
	<key>cacheLikeLayer</key>
	<string>assetWithoutPhase</string>
	<key>entityParamPadding</key>
	<string>usedRepositoryAcceleration</string>
	<key>mediaAboutSingleton</key>
	<string>getxThanScope</string>
	<key>queryInsideType</key>
	<string>techniqueBufferBottom</string>
</dict>
</plist>
