<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticAwaitBottom</key>
	<string>dependencyInMediator</string>
	<key>builderInFacade</key>
	<string>reactiveSwiftPosition</string>
	<key>canvasStageBottom</key>
	<string>asyncAwayNumber</string>
	<key>chartContextRight</key>
	<string>precisionViaFacade</string>
	<key>gridviewExceptComposite</key>
	<string>logDespiteLevel</string>
	<key>imageAsScope</key>
	<string>intensityInComposite</string>
	<key>providerAwayAdapter</key>
	<string>appbarInNumber</string>
	<key>repositoryDuringValue</key>
	<string>labelOperationVelocity</string>
</dict>
</plist>
