<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationInStage</key>
	<string>ephemeralWorkflowShade</string>
	<key>callbackOfEnvironment</key>
	<string>relationalRouterStyle</string>
	<key>displayableMobxHead</key>
	<string>animationVarHue</string>
	<key>localizationTierHue</key>
	<string>difficultMobileRate</string>
	<key>numericalToolOffset</key>
	<string>providerOrMediator</string>
	<key>pivotalMarginTheme</key>
	<string>significantInteractorKind</string>
	<key>progressbarAdapterIndex</key>
	<string>operationViaSingleton</string>
	<key>statelessAwayCycle</key>
	<string>desktopCompositionMargin</string>
</dict>
</plist>
