<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>heapNearSingleton</key>
	<string>awaitAmongCommand</string>
	<key>ignoredSignatureCoord</key>
	<string>pivotalThreadShape</string>
	<key>missionShapeVisible</key>
	<string>widgetStageTension</string>
	<key>permanentDimensionMode</key>
	<string>mobileWithoutForm</string>
	<key>topicParameterFeedback</key>
	<string>effectSinceComposite</string>
	<key>vectorObserverFormat</key>
	<string>overlayPlatformFlags</string>
</dict>
</plist>
