<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardMaterialBottom</key>
	<string>stateAdapterAcceleration</string>
	<key>cycleAwayObserver</key>
	<string>asyncAxisFormat</string>
	<key>functionalCaptionTransparency</key>
	<string>radioAgainstVisitor</string>
	<key>gesturedetectorMementoDensity</key>
	<string>viewLikeChain</string>
	<key>missedDependencyDepth</key>
	<string>gateOfParam</string>
	<key>overlayAroundStrategy</key>
	<string>coordinatorBridgeTop</string>
	<key>scalePerPlatform</key>
	<string>effectKindName</string>
	<key>scrollableModulusTail</key>
	<string>builderUntilMediator</string>
	<key>storyboardPlatformScale</key>
	<string>builderAlongMemento</string>
</dict>
</plist>
