<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>isolateAdapterRotation</key>
	<string>consumerBridgeDuration</string>
	<key>positionSingletonInterval</key>
	<string>inheritedCommandVelocity</string>
	<key>skinOfVisitor</key>
	<string>routeIncludeContext</string>
	<key>statefulLoopInteraction</key>
	<string>activatedRadiusShape</string>
	<key>storyboardAwayParameter</key>
	<string>agileImageHead</string>
</dict>
</plist>
