<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectWithProcess</key>
	<string>commonFactoryScale</string>
	<key>momentumParameterTail</key>
	<string>similarTabbarScale</string>
	<key>standaloneTaskDensity</key>
	<string>techniqueTempleDirection</string>
</dict>
</plist>
