<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentStateSaturation</key>
	<string>screenInsideParam</string>
	<key>behaviorFormMode</key>
	<string>intermediateGesturedetectorTheme</string>
	<key>currentTechniqueInteraction</key>
	<string>curveTierTint</string>
	<key>delicateChannelOrientation</key>
	<string>constraintStyleVisible</string>
	<key>permanentResultLocation</key>
	<string>factoryDuringValue</string>
	<key>providerStateTheme</key>
	<string>streamAtDecorator</string>
	<key>significantDimensionContrast</key>
	<string>queueSinceLevel</string>
	<key>subscriptionSinceLayer</key>
	<string>grainViaSystem</string>
	<key>subsequentSinkVelocity</key>
	<string>alertVersusVariable</string>
	<key>switchThanJob</key>
	<string>dynamicTextDistance</string>
</dict>
</plist>
