<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constraintContextDirection</key>
	<string>ignoredObserverResponse</string>
	<key>multiplicationVisitorOrigin</key>
	<string>flexibleUsageRate</string>
	<key>positionAdapterVelocity</key>
	<string>nibStructureVisibility</string>
	<key>respectiveCustompaintFrequency</key>
	<string>canvasAgainstBuffer</string>
</dict>
</plist>
