<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>certificateSingletonFormat</key>
	<string>vectorBeyondVisitor</string>
	<key>concreteScaffoldOpacity</key>
	<string>temporaryGroupTheme</string>
	<key>cubitWithShape</key>
	<string>heapAroundPrototype</string>
	<key>directModalShape</key>
	<string>storagePatternTop</string>
	<key>easyLayoutPadding</key>
	<string>nibAwayDecorator</string>
	<key>gateAdapterVisible</key>
	<string>immediateTimerOrientation</string>
	<key>giftUntilVariable</key>
	<string>richtextSingletonVisibility</string>
	<key>sessionStageDuration</key>
	<string>baselineLikeTemple</string>
	<key>synchronousTextfieldSpeed</key>
	<string>layoutThroughPrototype</string>
	<key>titlePrototypeMode</key>
	<string>delegateAlongTemple</string>
</dict>
</plist>
