<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apertureModeBound</key>
	<string>navigatorStyleResponse</string>
	<key>extensionOfOperation</key>
	<string>oldControllerMode</string>
	<key>globalListenerRight</key>
	<string>lazyThemeSpeed</string>
	<key>nextThreadBound</key>
	<string>coordinatorExceptInterpreter</string>
	<key>persistentManagerType</key>
	<string>workflowAboutStage</string>
	<key>requestExceptFramework</key>
	<string>menuStyleBottom</string>
	<key>requiredResolverHead</key>
	<string>taskActionShade</string>
	<key>similarBitrateRotation</key>
	<string>callbackFrameworkSpeed</string>
	<key>smallStatefulRotation</key>
	<string>directlyCertificateSkewx</string>
	<key>symbolByPattern</key>
	<string>imageForWork</string>
</dict>
</plist>
