<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetAdapterVisibility</key>
	<string>iconAwayPhase</string>
	<key>handlerVarRight</key>
	<string>delicateActionFormat</string>
	<key>ignoredCompleterTension</key>
	<string>mapFormOrigin</string>
	<key>projectAsShape</key>
	<string>queueAgainstFlyweight</string>
	<key>sampleStateBehavior</key>
	<string>scrollableTransformerTransparency</string>
	<key>semanticIconTension</key>
	<string>logarithmBufferDensity</string>
</dict>
</plist>
