<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delegateCompositeMargin</key>
	<string>uniformSymbolOpacity</string>
	<key>delegateVersusPattern</key>
	<string>sizedboxCycleCoord</string>
	<key>factoryAroundFlyweight</key>
	<string>decorationLevelSize</string>
	<key>labelPrototypeCount</key>
	<string>usedAspectratioBottom</string>
	<key>providerTaskAcceleration</key>
	<string>slashTierIndex</string>
	<key>sensorMementoColor</key>
	<string>immutableFramePosition</string>
	<key>transitionWithSystem</key>
	<string>resolverSystemAppearance</string>
</dict>
</plist>
