<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cursorExceptChain</key>
	<string>tabviewOperationContrast</string>
	<key>disparateAssetIndex</key>
	<string>cacheScopeBrightness</string>
	<key>hashCycleBehavior</key>
	<string>labelLayerOpacity</string>
	<key>specifyGemSpeed</key>
	<string>graphOutsidePattern</string>
	<key>subpixelOrPlatform</key>
	<string>sceneWithoutLevel</string>
	<key>techniqueVarTop</key>
	<string>composableRectInset</string>
</dict>
</plist>
