<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileInterpolationAcceleration</key>
	<string>heroSingletonSkewy</string>
	<key>apertureAroundPrototype</key>
	<string>captionObserverDepth</string>
	<key>coordinatorOperationStyle</key>
	<string>custompaintContextBorder</string>
	<key>coordinatorUntilStrategy</key>
	<string>materialCompositeResponse</string>
	<key>serviceCompositeRate</key>
	<string>interactiveGetxTag</string>
	<key>transformerMediatorColor</key>
	<string>convolutionThroughEnvironment</string>
	<key>typicalPlaybackSkewx</key>
	<string>stateAgainstTask</string>
</dict>
</plist>
