<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentInterpreterAppearance</key>
	<string>signatureTaskOrientation</string>
	<key>commandVariableForce</key>
	<string>projectionIncludeContext</string>
	<key>timerAroundJob</key>
	<string>visibleConfigurationSkewx</string>
	<key>timerMethodSpeed</key>
	<string>permanentCacheSkewx</string>
</dict>
</plist>
