<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderLikeAction</key>
	<string>coordinatorObserverVisible</string>
	<key>capsuleWithoutSingleton</key>
	<string>playbackLevelValidation</string>
	<key>compositionAroundType</key>
	<string>buttonJobCount</string>
	<key>directModalState</key>
	<string>constraintInEnvironment</string>
	<key>ephemeralFlexSkewy</key>
	<string>hardAwaitState</string>
	<key>injectionByCommand</key>
	<string>controllerCommandBottom</string>
	<key>projectionDespiteNumber</key>
	<string>parallelTableSpacing</string>
	<key>rapidTextLocation</key>
	<string>spriteFunctionDistance</string>
	<key>secondSwitchDuration</key>
	<string>lostViewOpacity</string>
	<key>signForContext</key>
	<string>firstMonsterOrientation</string>
</dict>
</plist>
