<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completerOfShape</key>
	<string>delicateStateFormat</string>
	<key>criticalModalType</key>
	<string>inactiveInkwellSaturation</string>
	<key>cubitAlongVar</key>
	<string>tabbarInParam</string>
	<key>customInkwellTail</key>
	<string>particleProxyDensity</string>
	<key>fragmentAroundScope</key>
	<string>layoutOperationCenter</string>
	<key>numericalMobxName</key>
	<string>interpolationOfFacade</string>
	<key>spotPhaseInterval</key>
	<string>requestPerValue</string>
</dict>
</plist>
