<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ignoredHashMode</key>
	<string>fixedPromiseBorder</string>
	<key>materialErrorCenter</key>
	<string>missionAmongComposite</string>
	<key>permanentApertureState</key>
	<string>priorActivityVisibility</string>
	<key>specifierStructureHue</key>
	<string>bufferFrameworkTop</string>
	<key>tableAgainstForm</key>
	<string>animatedFactoryState</string>
	<key>timerDecoratorMode</key>
	<string>documentOfParam</string>
</dict>
</plist>
