<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>behaviorEnvironmentBrightness</key>
	<string>memberFrameworkPadding</string>
	<key>blocByPrototype</key>
	<string>extensionOperationAcceleration</string>
	<key>builderFacadeFeedback</key>
	<string>delegateFormMargin</string>
	<key>gramForMethod</key>
	<string>projectionPatternEdge</string>
	<key>grayscaleContainSystem</key>
	<string>groupBesideValue</string>
	<key>precisionNearVar</key>
	<string>providerValueShade</string>
</dict>
</plist>
