<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hardLayoutSaturation</key>
	<string>subpixelEnvironmentStyle</string>
	<key>hyperbolicAlignmentStatus</key>
	<string>visibleProjectFormat</string>
	<key>materialUntilVisitor</key>
	<string>unactivatedTickerIndex</string>
	<key>nodeCycleTension</key>
	<string>isolateMementoInterval</string>
	<key>taskLikeTask</key>
	<string>cubitNearDecorator</string>
</dict>
</plist>
