<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>durationScopeTop</key>
	<string>scaffoldAmongPrototype</string>
	<key>isolateAgainstAction</key>
	<string>sineSystemBrightness</string>
	<key>petContainMediator</key>
	<string>richtextStructureTension</string>
	<key>resizableMenuFrequency</key>
	<string>signAmongTask</string>
	<key>robustPetVisible</key>
	<string>dialogsBufferState</string>
	<key>smartStatelessTag</key>
	<string>controllerLikeAction</string>
	<key>swiftUntilProxy</key>
	<string>elasticCallbackBorder</string>
	<key>tabviewObserverPadding</key>
	<string>imperativeBufferCenter</string>
	<key>taskMethodLeft</key>
	<string>widgetMediatorOpacity</string>
</dict>
</plist>
