<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryVersusOperation</key>
	<string>nibAroundTemple</string>
	<key>cubitInParam</key>
	<string>immutableListenerTop</string>
	<key>delicateCollectionIndex</key>
	<string>pageviewViaSingleton</string>
	<key>missedChecklistHue</key>
	<string>semanticsLayerOpacity</string>
</dict>
</plist>
