<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorCommandRate</key>
	<string>positionSinceTier</string>
	<key>graphShapeType</key>
	<string>sizedboxParamCenter</string>
	<key>normalSampleSpeed</key>
	<string>flexibleSkirtBottom</string>
	<key>sampleInBuffer</key>
	<string>routerOfPlatform</string>
	<key>signatureValueDirection</key>
	<string>stampTempleRate</string>
	<key>sortedBufferSpacing</key>
	<string>declarativeTimerOpacity</string>
	<key>transitionFunctionBrightness</key>
	<string>interactorIncludeNumber</string>
</dict>
</plist>
