<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activityNearParameter</key>
	<string>pinchableTimerEdge</string>
	<key>autoPetColor</key>
	<string>overlayAroundEnvironment</string>
	<key>backwardInteractorSkewx</key>
	<string>advancedEventShade</string>
	<key>capsulePlatformPadding</key>
	<string>radiusAndLevel</string>
	<key>comprehensiveNavigatorType</key>
	<string>errorPhaseSkewy</string>
	<key>interfaceAtVisitor</key>
	<string>liteToolSkewx</string>
	<key>semanticHashOrientation</key>
	<string>declarativeTextForce</string>
	<key>statefulThanShape</key>
	<string>mutableLayerCount</string>
	<key>textfieldVersusParameter</key>
	<string>assetTaskDensity</string>
</dict>
</plist>
