<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concurrentIntensityColor</key>
	<string>segmentVersusWork</string>
	<key>directlyConstraintFeedback</key>
	<string>loopPerEnvironment</string>
	<key>handlerAboutContext</key>
	<string>dependencyAsBuffer</string>
	<key>mutableMomentumVisible</key>
	<string>robustOffsetTension</string>
	<key>segmentInsideTier</key>
	<string>controllerEnvironmentFeedback</string>
	<key>smartDialogsInteraction</key>
	<string>capsuleBufferRotation</string>
	<key>subscriptionProcessRight</key>
	<string>handlerTypeBrightness</string>
</dict>
</plist>
