<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>controllerEnvironmentVisibility</key>
	<string>chapterThanParam</string>
	<key>flexibleProgressbarAlignment</key>
	<string>inheritedFeatureTheme</string>
	<key>gridStageVisible</key>
	<string>statefulSkirtRate</string>
	<key>independentObserverName</key>
	<string>layerShapeName</string>
	<key>missedEntityAlignment</key>
	<string>collectionAboutPhase</string>
	<key>precisionJobResponse</key>
	<string>segmentMementoDuration</string>
	<key>promiseFlyweightMode</key>
	<string>framePhaseAppearance</string>
	<key>swiftWithWork</key>
	<string>channelByKind</string>
</dict>
</plist>
