<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticAnimationShape</key>
	<string>gradientAtShape</string>
	<key>criticalNibShade</key>
	<string>grainDespiteVariable</string>
	<key>integerObserverIndex</key>
	<string>gramExceptSingleton</string>
	<key>previewOrMode</key>
	<string>consultativePainterScale</string>
	<key>subtleBrushKind</key>
	<string>sizedboxStrategyValidation</string>
</dict>
</plist>
