<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>effectInsideCommand</key>
	<string>menuThroughMethod</string>
	<key>firstProjectVisible</key>
	<string>firstVectorTint</string>
	<key>localSignName</key>
	<string>storeViaVisitor</string>
	<key>sharedResourceMomentum</key>
	<string>stackVarMomentum</string>
</dict>
</plist>
