<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionTransformerShade</key>
	<string>descriptionByPhase</string>
	<key>disparateMaterialTint</key>
	<string>animationCyclePadding</string>
	<key>effectOrSingleton</key>
	<string>swiftTierMargin</string>
	<key>geometricSizeTail</key>
	<string>usecaseInsideTask</string>
	<key>otherOffsetTransparency</key>
	<string>canvasFromTemple</string>
	<key>storageTempleTail</key>
	<string>collectionAwayContext</string>
	<key>zoneTaskTop</key>
	<string>operationAndDecorator</string>
</dict>
</plist>
